<%@ Control Language='C#' AutoEventWireup='true' CodeFile='zgc0LoginUser.ascx.cs'
    Inherits='zgc0LoginUserCX' %>
<script type='text/javascript'>
<!--
    var gcAUChover = 'gcAUChover';
    var gcAUC = 'gcAUC';
    var curIndex = 0;
    var MaxItem = 0;

    function updateGridP9000(result) {

    }
    function ConfigRightForUserP9000(tail, tableView) {

    }

    function pageLoadP9000(filter) {
        $get(otP9000.lErrorCID).innerHTML = FormatDiv('', 'Hãy lựa chọn chức năng bên dưới.');
        var result = new Object;
        AfterpageLoadP9000();
    }
    function gotoError() {
        window.location = '../default.aspx';
    }
    function AfterpageLoadP9000(result) {
        var bs = 1;
        var divShow = $get("<%= LeftContent.ClientID %>");
        var str = "";
        var i = 0;
        //    for(i=0; i<result.length; i++)
        //    {
        //         str += "<div class='gcBlockEntryWrap'>";
        //         str += " <div id='Divdiv4" + i.toString() + "'  class='gcBlockEntry'  onclick='showFormDivTypeObjP9000(\"\",\"" + result[i].DefaultPage + "\", \"" + result[i].bScript + "\");'  > ";


        //         str += "   </div> ";
        //         str += "   <div style='float:left;'><img width='140px' height='140px' src='../Img/PhanQuyen.png' width=25px height=25px ' style='margin-right:5px;' /></div> ";
        //         str += "   <div style='float:left;bottom:-5%; font-size:16px;' onclick='showFormDivTypeObjP9000(\"\",\"" + result[i].DefaultPage + "\", \"" + result[i].bScript + "\");'>" + result[i].Ten + " ▼</div> ";
        //         str += "   <div style='clear:both;'></div> ";
        //         str+="</div>";  
        //         
        //         //str+="<div style='clear:both; '></div>";
        //     }

        var groupRight = '<%= Session["gcRightGroup"] %>';
        var departmentId = '<%= Session["gcDepartmentId"] %>';
        // QL nhân sự
        i++;
        //    if (groupRight == '12') {
        //        str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultNV.aspx" + "\", \"" + bs + "\");'>";
        //        str += "<div class='brbanner-wrap brbanner-home'>";
        //        str += "<figure class='brfeatured-thumbnail'><a title='welcome'><img width='140px' height='140px' src='../images/ql-nhansu.png' title='welcome' alt=''></a></figure>"
        //        //str += "<h5>Quản lý nhân sự</h5>"
        //        str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultNV.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Quản lý nhân sự</a></div><div style='clear:both;'></div></div>";
        //        str += "</div>";
        //    } else if (groupRight == '2') {
        //        str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultTPNS.aspx" + "\", \"" + bs + "\");'>";
        //        str += "<div class='brbanner-wrap brbanner-home'>"
        //        str += "<figure class='brfeatured-thumbnail'><a title='welcome'><img width='140px' height='140px' src='../images/ql-nhansu.png' title='welcome' alt=''></a></figure>";
        //        //str += "<h5>Quản lý nhân sự</h5>"
        //        str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultTPNS.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Quản lý nhân sự</a></div><div style='clear:both;'></div></div>";
        //        str += "</div>";
        //    } else if (groupRight == '3') {
        //        str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultTPAC.aspx" + "\", \"" + bs + "\");'>";
        //        str += "<div class='brbanner-wrap brbanner-home'>";
        //        str += "<figure class='brfeatured-thumbnail'><a title='welcome'><img width='140px' height='140px' src='../images/ql-nhansu.png' title='welcome' alt=''></a></figure>";
        //        //str += "<h5>Quản lý nhân sự</h5>"
        //        str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultTPAC.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Quản lý nhân sự</a></div><div style='clear:both;'></div></div>";
        //        str += "</div>";
        //    } else if (groupRight == '9') {
        //        str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultTP.aspx" + "\", \"" + bs + "\");'>";
        //        str += "<div class='brbanner-wrap brbanner-home'>";
        //        str += "<figure class='brfeatured-thumbnail'><a title='welcome'><img width='140px' height='140px' src='../images/ql-nhansu.png' title='welcome' alt=''></a></figure>";
        //        //str += "<h5>Quản lý nhân sự</h5>"
        //        str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultTP.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Quản lý nhân sự</a></div><div style='clear:both;'></div></div>";
        //        str += "</div>";
        //    } else if (groupRight == '11') {
        //        str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultNVAC.aspx" + "\", \"" + bs + "\");'>";
        //        str += "<div class='brbanner-wrap brbanner-home'>";
        //        str += "<figure class='brfeatured-thumbnail'><a title='welcome'><img width='140px' height='140px' src='../images/ql-nhansu.png' title='welcome' alt=''></a></figure>";
        //        //str += "<h5>Quản lý nhân sự</h5>"
        //        str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhansu/DefaultNVAC.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Quản lý nhân sự</a></div><div style='clear:both;'></div></div>";
        //        str += "</div>";
        //    } else {
//        if (groupRight == "1" || departmentId == "25") {
//            i++;
//            str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLAdmin/Default.aspx" + "\", \"" + bs + "\");'>"
//            str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//            str += "              <div class='ct-articleBox-media'>"
//            str += "                  <a><img src='../images/ql-nhansu.png' alt='Admin'></a>"
//            str += "              </div>"
//            str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLAdmin/Default.aspx" + "\", \"" + bs + "\");'>"
//            str += "                 <h4><a>Quản lý Admin</a></h4>"
//            str += "             </div>"
//            //str += "             <div class='ct-articleBox-description'></div>"
//            str += "         </article>"
//            str += "     </div>";
//        }


        i++;
        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLBanHang/Default.aspx" + "\", \"" + bs + "\");'>"
        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
        str += "              <div class='ct-articleBox-media'>"
        str += "                  <a><img src='../images/ql-nhansu.png' alt='Nhân sự'></a>"
        str += "              </div>"
        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLBanHang/Default.aspx" + "\", \"" + bs + "\");'>"
        str += "                 <h4><a>Quản lý bán hàng</a></h4>"
        str += "             </div>"
        //str += "             <div class='ct-articleBox-description'></div>"
        str += "         </article>"
        str += "     </div>";
        //}



        // QL kho nhập
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLKhonhap/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/ql-khonhap.png' alt='Kho nhập'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLKhonhap/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý kho nhập</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";

//        // QL kho xuất
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLKhoxuat/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/ql-khoxuat.png' alt='Kho xuất'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLKhoxuat/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý kho xuất</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";

//        // QL thu chi
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLThuchi/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/ql-thuchi.png' alt='Kế toán thu'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLThuchi/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý kế toán thu</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";

//        // QL khách hàng
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLKhachhang/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/ql-kh.png' alt='Khách hàng'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLKhachhang/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý khách hàng</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";

//        // QL nhà cung cấp
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhacungcap/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/ql-ncc.png' alt='Nhà cung cấp'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLNhacungcap/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý nhà cung cấp</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";

//        // QL ngân hàng
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLDanhmuc/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/ql-hanghoa.jpg' alt='Danh mục'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLDanhmuc/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý danh mục</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";

//        // QL tài sản
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLTaisan/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/ql-taisan.png' alt='Tài sản'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLTaisan/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý tài sản</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";

        // QL văn thư
        //     i++;
        //    str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "Default.aspx" + "\", \"" + bs + "\");'>";
        //     str += "<div class='brbanner-wrap brbanner-home'>"
        //     str += "<figure class='brfeatured-thumbnail'><a title='welcome'><img width='140px' height='140px' src='../images/ql-vanthu.png' title='welcome' alt=''></a></figure>"
        //str += "<h5>Quản lý văn thư</h5>"
        //     str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "Default.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Quản lý văn thư</a></div><div style='clear:both;'></div></div>";
        //    str += "</div>";

        // Manager
        //    i++;
        //    str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "Default.aspx" + "\", \"" + bs + "\");'>";
        //    str += "<div class='brbanner-wrap brbanner-home'>"
        //    str += "<figure class='brfeatured-thumbnail'><a title='welcome'><img width='140px' height='140px' src='../images/manager.png' title='welcome' alt=''></a></figure>"
        //str += "<h5>Manager</h5>"
        //    str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "Default.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Manager</a></div><div style='clear:both;'></div></div>";
        //    str += "</div>";

        // QL lớp học
        //     i++;
        //     str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "../SheetStyle/ClassInfo.aspx" + "\", \"" + bs + "\");'>";
        //     str += "<div class='brbanner-wrap brbanner-home'>"
        //     str += "<figure class='brfeatured-thumbnail'><a title='welcome'><img width='140px' height='140px' src='../images/ql-lophoc.png' title='welcome' alt=''></a></figure>"
        //     //str += "<h5>Quản lý lớp học</h5>"
        //     str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "../SheetStyle/ClassInfo.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Quản lý lớp học</a></div><div style='clear:both;'></div></div>";
        //     str += "</div>";

        // QL Sổ sách
        //     i++;
        //     str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLSosach/Default.aspx" + "\", \"" + bs + "\");'>";
        //     str += "<div class='brbanner-wrap brbanner-home'>"
        //     str += "<figure class='brfeatured-thumbnail'><a title='welcome' style=''><img width='180px' height='140px' src='../images/sosach.jpg' title='welcome' alt=''></a></figure>"
        //     //str += "<h5>Manager</h5>"
        //     str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLSosach/Default.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Quản lý sổ sách</a></div><div style='clear:both;'></div></div>";
        //     str += "</div>";

        //     // QL Sổ sách
        //     i++;
        //     str += "<div class='gcBlockEntryWrap' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLHangtra/Default.aspx" + "\", \"" + bs + "\");'>";
        //     str += "<div class='brbanner-wrap brbanner-home'>"
        //     str += "<figure class='brfeatured-thumbnail'><a title='welcome'><img width='140px' height='140px' src='../images/ql-trahang.jpg' title='welcome' alt=''></a></figure>"
        //     //str += "<h5>Manager</h5>"
        //     str += "<div class='brlink-align brbanner-btn' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLHangtra/Default.aspx" + "\", \"" + bs + "\");'><a title='join newsletter' class='brbtn brbtn-link' target='_self'>Quản lý hàng trả lại</a></div><div style='clear:both;'></div></div>";
        //     str += "</div>";

        //QL Hoàn Tiền
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLHoanTien/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/hoan_tien.jpg' alt='Hoàn Tiền'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLHoanTien/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý Hoàn Tiền</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";
//        // END test style
//        divShow.innerHTML = str;

//        //QL Thủ quỹ
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLThuQuy/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/sosach.jpg' alt='Thủ Quỹ'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLThuQuy/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý Thủ Quỹ</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";
//        // END test style
//        divShow.innerHTML = str;

//        //QL Phieu Thu theo ban hang
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLPhieuThuBanHang/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/ql-trahang.jpg' alt='Phiếu Thu Bán Hàng'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLPhieuThuBanHang/Default.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý Phiếu Thu Bán Hàng</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";
//        // END test style
//        divShow.innerHTML = str;

//        //QL Học Viên
//        i++;
//        str += "<div class='br-block' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLHocVien/DefaultQLHocVien.aspx" + "\", \"" + bs + "\");'>"
//        str += "           <article class='ct-articleBox ct-articleBox--thumbnail'>"
//        str += "              <div class='ct-articleBox-media'>"
//        str += "                  <a><img src='../images/ql-lophoc.png' alt='Học viên'></a>"
//        str += "              </div>"
//        str += "              <div class='ct-articleBox-titleBox' onclick='showFormDivTypeObjP9000(\"\",\"" + "../QLHocVien/DefaultQLHocVien.aspx" + "\", \"" + bs + "\");'>"
//        str += "                 <h4><a>Quản lý học viên</a></h4>"
//        str += "             </div>"
//        //str += "             <div class='ct-articleBox-description'></div>"
//        str += "         </article>"
//        str += "     </div>";
        // END test style
        divShow.innerHTML = str;
    }

    function showFormDivTypeObjP9000(idctrl, str, id) {
        zgc0GobalService.SetGroupRight(str, id, AfterSetGroupRight);

    }
    function AfterSetGroupRight(result) {
        window.location = result;
    }

    function OnBlurContentText(ctrl, field, type, table) {
        zgc0GobalService.UpdateOneCol(ctrl.value, ctrl.title, field, type, table);
    }
    function OnPhoToClientCloseP9000(oWnd, args) {
        //get the transferred arguments
        var arg = args.get_argument();
        if (arg) {

            var ctrl = $get(arg.id);
            ctrl.value = arg.value;
        }
    }

    function BtnThongKeP9000() {
    }

    function OnPopupClientCloseP9000() {
    }
</script>
<asp:Label Style='display: none;' Width='1px' ID='lHideP9000' Text='10|15' runat='server'></asp:Label>
<div class='gcMainCtns'>
    <div class='gcError'>
        <div style='width: 1000px; float: left'>
            <div style='float: left; margin-left: 15px;'>
                <%-- <div id='EditTypeObjP9000' runat='server'  class='gcDivButtonNewMeNuSmall'  onclick='showFormDivTypeObjP9000();'  >
                <div style='float:left;'><img width='140px' height='140px' src='../Img/PhanQuyen.png' width=15px height=15px ' style='margin-right:5px;' /></div>
                <div style='float:left;'>Chào mừng bạn đến với trang quản trị thông tin! ▼</div>
            </div> --%>
            </div>
            <div class='gcFieldW'>
                <div style='float: left; display: none !important'>
                    <asp:TextBox ID='tEditObjP9000' CssClass='gcEditSpecial' runat='server' Width='400 px'
                        onclick='FocusCmbTextP9000(this.id, event);' onkeydown='CloseShowDiv(this.id, event)'
                        onkeyup='changeCmbTextP9000(this.id, event);'></asp:TextBox>
                    <asp:TextBox ID='tEditObjP9000_ID' runat='server' Style='display: none;' Width='1 px'> </asp:TextBox></div>
                <div style='float: left;' onclick='FocusCmbTextP9000(otP9000.tEditObjP9000CID, event);'>
                    <asp:TextBox ID='TextBox2' runat='server' Style='display: none;' Width='60 px'></asp:TextBox></div>
                <div style='float: left; padding: 2px;'>
                </div>
            </div>
            <%--<div style='float:left;margin-left:5px;'>  <div id='BtnAddP9000' runat='server'  class='gcDivButtonNewMeNuSmall'  onclick='BtnAddP9000();'  ><div style='float:left;'><img width='140px' height='140px' src='../Img/icon_r4.png' width=15px height=15px ' style='margin-right:5px;' /></div><div style='float:left;'>Thêm mới</div></div> </div>
            <div style='float:left;margin-left:8px;'>  <div id='BtnInfoP9000' runat='server'  class='gcDivButtonNewMeNuSmall'  onclick='BtnInfoP9000();'  ><div style='float:left;'><img width='140px' height='140px' src='../Img/info.jpg' width=15px height=15px ' style='margin-right:5px;' /></div><div style='float:left;'>Xem thông tin</div></div> </div>
            <div style='float:left;margin-left:8px;'>  <div id='BtnSearchPhieuP9000' runat='server'  class='gcDivButtonNewMeNuSmall'  onclick='BtnSearchPhieuP9000();'  ><div style='float:left;'><img width='140px' height='140px' src='../Img/search.png' width=15px height=15px ' style='margin-right:5px;' /></div><div style='float:left;'>Tìm kiếm</div></div> </div>
            <div style='float:left;margin-left:8px;'>  <div id='BtnThongKeP9000' runat='server'  class='gcDivButtonNewMeNuSmall'  onclick='BtnThongKeP9000();'  ><div style='float:left;'><img width='140px' height='140px' src='../Img/thongke.png' width=15px height=15px ' style='margin-right:5px;' /></div><div style='float:left;'>Thống kê</div></div> </div>
            <asp:Button ID = "SendSMS" Text='Send SMS' class='gcDivButtonNewMeNuSmall' 
             runat ='server' onclick="SendSMS_Click"  />--%>
            <div style='clear: both;'>
            </div>
        </div>
        <div class='gcClear'>
        </div>
        <asp:Label ID='lError' runat='server' Text=''></asp:Label>
    </div>
    <%-- -----Begin Form Search------ --%>
    <div class='gcMainIn2' id='gcFormMainP153' runat='server'>
        <div class='zgc0LoginForm' style='padding: 0px; margin: 0px; border-left-style: none;
            border-right-style: none;'>
            <div id='contentInfo' runat='server'>
                <div style='height: 20px;'>
                </div>
                <div style='clear: both;'>
                </div>
                <div id='LeftContent' runat='server' style='float: left'>
                </div>
                <div id='Div1' runat='server' style='width: 30px; float: left'>
                    &nbsp;
                </div>
                <div style='clear: both;'>
                </div>
                <div id='RightContent' runat='server' class='gcBlockProcessEntry'>
                    <%--<div class='TitleServiceBold' style='color:#26bdef;'>Hệ thống ghi nhận các tình huống cần được xử lý:</div>--%>
                </div>
                <div style='clear: both;'>
                </div>
                <%--<div style='float:left;margin-left:15px;'>  
            <div id='Div6' runat='server'  class='gcDivButtonNewMeNuSmallx2'  onclick='showFormDivTypeObjP9000();'  >
                <div style='float:left;'><img width='140px' height='140px' src='../Img/PhanQuyen.png' width=25px height=25px ' style='margin-right:5px;' /></div>
                <div style='float:left;'>Testing ▼</div>
            </div> 
         </div>
         
         <div style='clear:both; '></div>--%>
                <div style='clear: both;'>
                </div>
                <div style='height: 20px;'>
                </div>
            </div>
        </div>
    </div>
    <%-- -----End Form Search------ --%>
    <%-- -----Begin Form------ --%>
    <%-- -----End Form------ --%>
    <%-- -----Begin Grid------ --%>
</div>
