	/* must set border width with px */
	.paginator_p {
		text-align:center;
		float:left;
		height:25px;
		cursor:pointer;
		color:white;
		background-color:#B7B7B7;
		list-style-type:none;
	}
	.paginator_p.over {
		background-color:#8B8B8B;
	}
	.paginator_p.selected {
		background-color:#CAFF3A;
		color:white;
		background-color:black;
	}
	.paginator_p_wrap {
		position:relative;
		overflow:hidden;
		float:left;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	.paginator_p_bloc {
		position:relative;
		width:3000px;
	}
	.paginator_slider {
		float:left;
		clear: left;
		height: 4px;
		top: 4px;
		background: white;
		border: solid 1px black;
		position:relative;
	}

	.paginator_slider .ui-slider-handle {
		width: 8px;
		height: 12px;
		position: absolute;
		top: -4px;
		background-color:black;
	}
	
	.jPaginatorOver {
    background-color: #BCF2D5;
    float: left;
    height: 20px;
    margin: 0 2px;
    text-align: center;
    width: 30px;
	}
	
	.jPaginatorMax {
    background-color: #5FAABC;
    cursor: pointer;
    float: left;
    height: 20px;
    text-align: center;
    width: 30px;
	}