﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MainMenu.ascx.cs" Inherits="UserControl_KhoNhap_MainMenu" %>
<script type="text/javascript">
    $(document).ready(function () {

        $("#gc_BtnInDuLieuID").click(function (ev) {
            $("#gc_ReportForm").toggle('show');
        });
        //                $("#dropdown-database").mouseover(function () {
        //                    $(this).addClass('open');
        //                    $("#dropdown-account").removeClass('open');
        //                });
        //                $("#dropdown-account").mouseover(function () {
        //                    $(this).addClass('open');
        //                    $("#dropdown-database").removeClass('open');
        //                });

        $("#sdafsdfsadfsadf").click(function (ev) {
            $.colorbox.close();
        });



        $("#gc_gb_menu_CreateAccountMenuID").click(function (ev) {
            $("#gc_gb_MsgChangePassWordLabel").val('');
            gb_curBoxDlg = $("#gc_gb_menu_CreateAccountMenuID").colorbox({ inline: true, href: "#gc_gb_DIVCreateUserInnerWrapID", title: "Tạo tài khoản" });
        });


        $("#gc_gb_menu_UpdateAcountMenuID").click(function (ev) {
            $("#gc_gb_MsgChangePassWordLabel").val('');
            gb_curBoxDlg = $("#gc_gb_menu_UpdateAcountMenuID").colorbox({ inline: true, href: "#gc_gb_DIVChangePasswordInnerWrapID", title: "Thay đổi mật khẩu" });
        });

        $("#gc_usctrl_menu_UpdateCourseID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%",
                href: "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_TRAINNING_COURSE.aspx?_showHeader=0", title: "Cập nhật khóa học"
            });
        });
        $("#gc_usctrl_menu_UpdateClassID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%",
                href: "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_TRAINNING_COURSE_CLASS.aspx?_showHeader=0", title: "Cập nhật lớp học"
            });
        });
        $("#gc_usctrl_menu_UpdateProgID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%",
                href: "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_LITERAL_CHUONGTRINHHOC.aspx?_showHeader=0", title: "Cập nhật chương trình học"
            });
        });
        $("#gc_usctrl_menu_UpdateStudentID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%", href:
                "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_CUST_Customer.aspx?_showHeader=0", title: "Cập nhật Học viên"
            });
        });
        $("#gc_usctrl_menu_UpdateTeacherID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%", href:
                "../zgcDirADMIN_SERV_PRODUCT/ADMIN_zgcl_gcGobal_TRAINNING_TEACHER.aspx?_showHeader=0", title: "Cập nhật dữ Giáo viên"
            });
        });
        $("#gc_usctrl_menu_UpdateEmployID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%", href:
                "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_COMP_EmployeeLife.aspx?_showHeader=0", title: "Cập nhật Nhân viên"
            });
        });

        $("#gc_usctrl_menu_UpdateLEPHIID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%", href:
                "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_LITERAL_LEPHI.aspx?_showHeader=0", title: "DANH SÁCH LỆ PHÍ	"
            });
        });
        $("#gc_usctrl_menu_UpdateGIAMGIAID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%", href:
                "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_LITERAL_GIAMGIA.aspx?_showHeader=0", title: "Cập nhật GIẢM HỌC PHÍ"
            });
        });
        $("#gc_usctrl_menu_UpdateKHANANGPHONGID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%", href:
                "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_LITERAL_KHANANGPHONG.aspx?_showHeader=0", title: "Cập nhật KHẢ NĂNG PHÒNG "
            });
        });
        $("#gc_usctrl_menu_UpdateTHULAOGIAOVIENID").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%", href:
                "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_LITERAL_THULAOGIAOVIEN.aspx?_showHeader=0", title: "Cập nhật THÙ LAO GIÁO VIÊN"
            });
        });


        $("#gc_usctrl_menu_GIOHOC").click(function () {
            $(this).colorbox({
                iframe: true, innerWidth: "90%", innerHeight: "95%", href:
                "../zgcDirADMIN_SERV_PRODUCT/ADMIN_gcGobal_LITERAL_GIOHOC.aspx?_showHeader=0", title: "Cập nhật"
            });
        });



    });

</script>

<div class="gc-gb-right-toolbar">
    <div class="button-container ">

        <img class="button-arrow" src="../UserControl/images/bird.png">

        <div class="gc-gb-quick">
            <a href="#top">
                <img src="../UserControl/images/quick1_01.png" style="position: absolute; top: 20px; right: 2px;" />
            </a>
            <a href="#">
                <img src="../UserControl/images/quick1_04.png" style="position: absolute; top: 60px; right: 2px;" />
            </a>
            <a href="Default.aspx">
                <img src="../UserControl/images/quick1_06.png" style="position: absolute; top: 100px; right: 2px;" />
            </a>

        </div>
    </div>
</div>

<div class="content" id="gc_gobal_HeaderMainFormID">
    <div id='Div1' class="gc_gobal_HeaderMainForm">
        <div class="inputBtnBottomVHead">
            <div class="btn-toolbar" style="margin-bottom: 9px">
                <div class="btn-group">
                    <%--<a href="../StyleSheet-QL-NhanSu/Default.aspx" class="btn btn-success" ><i class="glyphicon glyphicon-home"></i> Trang nhân viên</a>--%>
                    <a href="../ZGCLOGINUSER/zgc0LoginUser.aspx" class="btn btn-success"><i class="glyphicon glyphicon-home"></i>Trang chủ</a>
                    <button type="button" id="gc_BtnShowSearchID" class="btn btn-warning"><i class="glyphicon glyphicon-search"></i>Tìm kiếm</button>
                    <%--<button type="button" id="PhieuThuButton"  class="btn btn-primary" ><i class="glyphicon glyphicon-user"></i> Phiếu thu</button>
                                    <button type="button" id="PhieuChiButton"  class="btn btn-primary" ><i class="glyphicon glyphicon-user"></i> Phiếu chi</button>
                                    <button type="button" id="VuViecButton"  class="btn btn-primary" ><i class="glyphicon glyphicon-user"></i> Danh mục vụ việc</button>
                                     <button type="button" id="ThemVuViecBtn"  class="btn btn-primary" ><i class="glyphicon glyphicon-user"></i> Them vụ việc</button>--%>

                    <div class="btn-group " id='dropdown-account'>

                        <button type="button" class="btn btn-danger  dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-info-sign"></i>Tài khoản <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#"><i class="glyphicon glyphicon-pencil gc-th-color"></i>Cập nhật</a></li>
                            <li><a href="#" id="gcDelAccountMenuID"><i class="glyphicon glyphicon-trash gc-th-color"></i>Xóa tài khoản</a></li>
                            <li><a id="gc_gb_menu_UpdateAcountMenuID"><i class="glyphicon glyphicon-ban-circle gc-th-color"></i>Đổi mật khẩu</a></li>
                            <li class="divider"></li>
                            <li><a href="#"><i class="i"></i>Gởi thông báo cho Admin</a></li>

                            <li><a href="#" id="gc_gb_menu_CreateAccountMenuID"><i class="glyphicon glyphicon-trash gc-th-color"></i>Tạo tài khoản</a></li>
                        </ul>
                        <%--<button type="button" id="HoaDonButton" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i>Báo cáo</button>--%>
                        <button type="button" id="BaoCao" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i>Báo cáo</button>
                        <button type="button" id="PhieuThu" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i>Phiếu thu</button>
                        <button type="button" id="DSHangHoa" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i>DS hàng hóa</button>

                    </div>

                    <div class="btn-group" id='dropdown-database'>

                        <button type="button" class="btn btn-warning  dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-hdd"></i>Dữ liệu <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu" role="menu">
                            <li><a id='AddHangHoa'><i class="glyphicon glyphicon-user gc-th-color"></i>Thêm hàng hóa</a></li>
                            <li><a id='DMNhom'><i class="glyphicon glyphicon-user gc-th-color"></i>Dm nhóm hàng hóa</a></li>
                            <li><a id='DMLoai'><i class="glyphicon glyphicon-user gc-th-color"></i>Dm loại hàng hóa</a></li>
                            <li><a id='DMDonViTinh'><i class="glyphicon glyphicon-user gc-th-color"></i>Dm đơn vị tính</a></li>
                            <li class="divider"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
