 .tabs7 {
      width:100%;
      background:none;
	  font-family:Arial, Helvetica, sans-serif;
	  font-size:12px;
	  line-height:normal;
	  color:#fff;
	  font-stretch:condensed;
	  text-transform:uppercase;
	  overflow: hidden;	  
	  float: left;
	  display: inline;
	  line-height: 0;
	  padding-top:1px;
	  
      }
    .tabs7 ul {
          margin:0;
          padding:0;
          list-style:none;

      }
    .tabs7 li {
      display:inline;
      margin:0px;
	  padding:0px;
	  
	  
      }
    .tabs7 a {
      float:left;
	  cursor:hand;
      margin-left:1px;
      padding:8px 20px 8px 20px;
      text-decoration:none;
	  color:#fff;
	  background:url(../../img/navi.jpg) no-repeat left top;
      }
    
    .tabs7 a:hover {
	  background:url(../../img/navi_hover.jpg) repeat-x top center;	  
	  color:#fff;
      }
    

      .tabs7 .current a {
	  	background:url(../../img/navi_hover.jpg) repeat-x top center;
		   color:#fff;
      }
	  

	  
	  
     