@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Template for designing a screen layout
 * (de) Gestaltungsvorlage für die Erstellung eines Screenlayouts
 *
 * @copyright       Copyright 2005-2007, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.0.4
 * @revision        $Revision: 130 $
 * @lastmodified    $Date: 2007-10-05 19:05:21 +0200 (Fr, 05 Okt 2007) $
 */

@media all
{
 /*------------------------------------------------------------------------------------------------------*/

 /**
  * Design of the Basic Layout | Gestaltung des YAML Basis-Layouts
  *
  * @section layout-basics
  */

  /* Page margins and background | Randbereiche & Seitenhintergrund */
  body {}

  /* Layout: Width, Background, Border | Layout: Breite, Hintergrund, Rahmen */
  #page_margins { margin:0 auto; width:950px;}
  #page{}

  /* Design of the Main Layout Elements | Gestaltung der Hauptelemente des Layouts */
  #header { text-align:left;}
  	.logo{ float:left; padding-top:30px;}
	.header_right{ float:right; width:380px; padding-top:30px;}
	
  #topnav { text-align:left; border:#999900 solid 1px;}
  #main {}
  	 
 #footer { background:url(../../img/bg_footer.jpg) no-repeat top left; padding:10px; height:26px; margin-top:5px;}

 /*------------------------------------------------------------------------------------------------------*/

 /**
  * Formatting of the Content Area | Formatierung der Inhaltsbereichs
  *
  * @section layout-main
  */
  .tpl1{}
  .tpl1 #col1 {float:left; width:182px; min-height:100px; }
  .tpl1 #col1_content { margin:5px 5px 5px 0;}
  		.tpl1 #col1_content .box_top{ background:url(../../img/left_col_box.jpg) no-repeat top left; height:23px; padding:10px 0 0 10px;}
		.tpl1 #col1_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:10px; padding:10px 10px 0 10px;}
		* html .tpl1 #col1_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:10px; padding:10px 10px 0 10px;}
		
		.tpl1 #col1_content .box_bottom{ background:url(../../img/left_col_box_bottom.jpg) no-repeat top left; height:7px !important;}

  .tpl1 #col2 {float:left; width:496px; min-height:100px;}
  .tpl1 #col2_content { margin:5px 5px 5px 0;}
  		.tpl1 #col2_content .box_top{ background:url(../../img/mid_col_box.jpg) no-repeat top left; height:20px; padding:12px 0 0 10px; margin-top:2px;}
		.tpl1 #col2_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:10px; padding:10px 10px 0 10px;}
		* html .tpl1 #col2_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; padding:10px 10px 0 10px; height:50px;}
		
		.tpl1 #col2_content .box_bottom{ background:url(../../img/mid_col_box_bottom.jpg) no-repeat top left; height:7px !important;}

  .tpl1 #col3 {float:left; width:272px; min-height:100px;}
  .tpl1 #col3_content { margin:5px 0;}
  		.tpl1 #col3_content .box_top{ background:url(../../img/right_col_box.jpg) no-repeat top left; height:22px; padding:10px 0 0 10px;}
		.tpl1 #col3_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:10px; padding:10px 10px 0 10px;}
		* html .tpl1 #col3_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:10px; padding:10px 10px 0 10px;}
		.tpl1 #col3_content .box_middle textarea{ margin-top:2px; margin-bottom:2px; height:80px; width:245px;}
		.tpl1 #col3_content .box_bottom{ background:url(../../img/right_col_bottom.jpg) no-repeat top left; height:7px !important;}
		
/*---------------------------------------------------------------------------------------------------------------------------------*/	

  .tpl2{}
  .tpl2 #col1 {float:left; width:190px; min-height:100px; margin-bottom:5px;}
  .tpl2 #col1_content { margin:5px 5px 5px 0;}
  	.tpl2 #col1_content .box_middle1{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:20px; padding:10px 10px 0 10px; background:url(../../img/bg_cate.jpg) repeat-x top left #e9e9ce;}
  	.tpl2 #col1_content .box_top{ background:url(../../img/tpl2_leftcol_top.jpg) no-repeat top left; height:21px; padding:10px 0 0 10px;}
	.tpl2 #col1_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:20px; padding:10px 10px 0 10px;}
	* html .tpl2 #col1_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; height:20px; padding:10px 10px 0 10px;}
		.tpl2 #col1_content .box_middle .friend{ border-bottom: solid 1px #d9d9d9; padding:5px 0 2px 0;}
			.tpl2 #col1_content .box_middle .left_img{ float:left; width:50px;}
			.tpl2 #col1_content .box_middle .right_text{ float:left; width:110px;}
		.tpl2 #col1_content .box_middle .friend_noborder{ padding:5px 0 2px 0;}
  		
  .tpl2 #col2 {float:left; width:759px; min-height:100px; margin-top:5px; margin-bottom:5px;}
  .tpl2 #col2_content {}
  	.tpl2 #col2_content .box_middle1{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:10px; padding:15px 15px 10px 15px;}
  	.tpl2 #col2_content .status{background:url(../../img/bg_status.jpg) no-repeat top left; height:24px; padding:10px 10px 0 10px;}
	.tpl2 #col2_content .left{ float:left; width:513px; margin-bottom:5px;} 
		.tpl2 #col2_content .left .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:10px; padding:15px;}
		.tpl2 #col2_content .left .box_top2{ background:url(../../img/tpl2_rightcol_top2.jpg) no-repeat top left; height:22px; padding:10px 0 0 7px;}
		.tpl2 #col2_content .left .box_middle2{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height: 10px; padding:15px 15px 10px 15px;}
		* html .tpl2 #col2_content .left .box_middle2{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; height:10px; padding:15px 15px 10px 15px;}
	.tpl2 #col2_content .right{ float:left; width:246px;  margin-bottom:5px;} 
		.tpl2 #col2_content .right .box_top3{ background:url(../../img/tpl2_rightcol_top3.jpg) no-repeat top left; height:19px; padding:5px 0 0 7px;}
		.tpl2 #col2_content .right .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:10px;}
		* html .tpl2 #col2_content .right .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; height:20px;}

 /*------------------------------------------------------------------------------------------------------*/

  .tpl3{}
  .tpl3 #col1 {float:left; width:678px; min-height:100px; }
  .tpl3 #col1_content { margin:5px 5px 5px 0;}
  	.tpl3 #col1_content .box_middle{border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:30px !important; padding:10px 10px 0 10px; margin-bottom:0;}
	* html .tpl3 #col1_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; height:10px; padding:10px 10px 0 10px;}

  .tpl3 #col2 {float:left; width:272px; min-height:100px;}
  .tpl3 #col2_content { margin:5px 0;}
  	.tpl3 #col2_content .box_top{ background:url(../../img/right_col_box.jpg) no-repeat top left; height:22px; padding:10px 0 0 10px;}
	.tpl3 #col2_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; min-height:10px; padding:10px 10px 0 10px;}
	* html .tpl3 #col2_content .box_middle{ border-left: solid 1px #d9d9d9; border-right: solid 1px #d9d9d9; height:10px; padding:10px 10px 0 10px;}
	.tpl3 #col2_content .box_middle textarea{ margin-top:2px; margin-bottom:2px; height:80px; width:245px;}
	.tpl3 #col2_content .box_bottom{ background:url(../../img/right_col_bottom.jpg) no-repeat top left; height:7px !important;}
	.tpl3 #col2_content .box_top3{ background:url(../../img/tpl3_rightcol_top.jpg) no-repeat top left; height:19px; padding:5px 0 0 7px;}
	
  		
		
/*---------------------------------------------------------------------------------------------------------------------------------*/	

	.tpl4{}
  		.tpl4 #col1 { width:100%;}
  		.tpl4 #col1_content { margin:5px 0 0 0;}
		.tpl4 #col1_content .box_middle{ background:url(../../img/tpl4_mid.jpg) repeat-y top left; min-height:20px; padding:10px;}

}