@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Uniform design of standard content elements
 * (de) Einheitliche Standardformatierungen für die wichtigten Inhalts-Elemente
 *
 * @copyright       Copyright 2005-2007, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.0.4
 * @revision        $Revision: 138 $
 * @lastmodified    $Date: 2007-11-19 21:05:33 +0100 (Mo, 19 Nov 2007) $
 * @appdef yaml
 */

@media all
{
  /**
   * Fonts
   * (en) font-family and font-size selection for headings and standard text elements
   * (de) Zeichensatz und Schriftgrößen für Überschriften und übliche Text-Elemente
   *
   * @section content-fonts
   */

  /* (en) reset font size for all elements to standard (16 Pixel) */
  /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
  html * { font-size:11px;}

  /* (en) reset monospaced elements to font size 16px in Gecko browsers */
  /* (de) Schriftgröße von monospaced Elemente auf 16 Pixel setzen */
  textarea, pre, tt, code {
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
  }

  /* (en) base layout gets standard font size 12px */
  /* (de) Basis-Layout erhält Standardschriftgröße von 12 Pixeln */
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
  }

  h1,h2,h3,h4,h5,h6 { font-weight:bold;}
  h1 { font-size: 200% }                        /* 24px */
  h2 { font-size: 18px; color:#ed008c; font-weight:normal;}                     /* 20px */
  h3 { font-size: 14px; color:#FFFFFF; font-weight:normal; }                        /* 18px */
  h4 { font-size: 18px; color:#000000; font-weight:normal; }                     /* 16px */
  h5 { font-size: 12px; color:#ed008c; text-transform:uppercase;}                     /* 14px */
  h6 { font-size: 14px; color:#525c54; font-weight:normal;}  /* 14px */

  p { line-height: 1.5em; margin: 0 0 1em 0; }

  /* ### Lists | Listen  #### */

  ul, ol, dl { line-height: 1.5em; margin: 0 0 1em 1em }
  li { margin-left: 1.5em; line-height: 1.5em }

  dt { font-weight: bold }
  dd { margin: 0 0 1em 2em }

  /* ### text formatting | Textauszeichnung ### */

  cite, blockquote { font-style:italic }
  blockquote { margin: 0 0 1em 1.5em }

  strong,b { font-weight: bold }
  em,i { font-style:italic }

  pre, code { font-family: monospace; font-size: 1.1em; }

  acronym, abbr {
    letter-spacing: .07em;
    border-bottom: .1em dashed #c00;
    cursor: help;
  }

  /**
   * Generic Content Classes
   * (en) standard classes for positioning and highlighting
   * (de) Standardklassen zur Positionierung und Hervorhebung
   *
   * @section content-generic-classes
   */

  .note {background: #dfd; padding: 1em; border-top: 1px #bdb dotted; border-bottom: 1px #bdb dotted;}
  .important {background: #ffd; padding: 1em; border-top: 1px #ddb dotted; border-bottom: 1px #ddb dotted;}
  .warning {background: #fdd; padding: 1em; border-top: 1px #dbb dotted; border-bottom: 1px #dbb dotted;}

  .float_left { float: left;}
  .float_right { float: right;}
  .center { text-align:center;}

  /**
   * External Links
   *
   * (en) Formatting of hyperlinks
   * (de) Gestaltung von Hyperlinks
   *
   */

  a {color: #000000; text-decoration:none;}
  a:focus,
  a:hover,
  a:active {background-color: transparent; text-decoration:underline; color:#e2007a;}
  
  .text12 a {color: #000000; text-decoration:none; font-size:12px;}
  .text12 a:focus,
  .text12 a:hover,
  .text12 a:active {background-color: transparent; text-decoration:underline; color:#bb0044; font-size:12px;}
  
  .page_move a {color: #7f7f7f; text-decoration:none; font-size:12px;}
  .page_move a:focus,
  .page_move a:hover,
  .page_move a:active {background-color: transparent; color:#7f7f7f; font-size:12px; text-decoration:underline;}
  
  .bluelink  a {color: #094a71; text-decoration:none;}
  .bluelink  a:focus,
  .bluelink  a:hover,
  .bluelink  a:active {background-color: transparent; text-decoration:underline; color:#094a71;}
  
  .redlink{ color: #ed008c;}
  .redlink  a {color: #ed008c; text-decoration:none;}
  .redlink  a:focus,
  .redlink  a:hover,
  .redlink  a:active {background-color: transparent; text-decoration:underline; color:#ed008c;}
  
  #topnav a { color: #aac; font-weight: bold; background:transparent; text-decoration:none; }
  #topnav a:focus,
  #topnav a:hover,
  #topnav a:active{ text-decoration:underline; background-color: transparent;}
  
  #footer a { color: #aac; background:transparent; font-weight: bold;}
  #footer a:focus,
  #footer a:hover,
  #footer a:active {color: #fff; background-color: transparent; text-decoration:underline;}

  /**
   * (en) Emphasizing external Hyperlinks via CSS
   * (de) Hervorhebung externer Hyperlinks mit CSS
   *
   * @section             content-external-links
   * @app-yaml-default    disabled
   */

  /*
  #main a[href^="http://www.my-domain.com"],
  #main a[href^="https://www.my-domain.com"]
  {
    padding-left: 12px;
    background-image: url('your_image.gif');
    background-repeat: no-repeat;
    background-position: 0 0.45em;
  }
  */

  /**
   * Tables | Tabellen
   * (en) Generic classes for table-width and design definition
   * (de) Generische Klassen für die Tabellenbreite und Gestaltungsvorschriften für Tabellen
   *
   * @section content-tables
   */


  /**
   * Miscellaneous | Sonstiges
   *
   * @section content-misc
   */

  hr {
    color: #fff;
    background:transparent;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border:0;
    border-bottom: 1px #000 solid;
  }
  .skriv{}
  .skriv textarea{ height:70px; width:220px;}
  .m_top_5{ margin-top:5px;}
  .m_right_5{ margin-right:5px;}
  .p_top_10{ padding-top:10px;}
  .p_bottom_5{ padding-bottom:5px;}
  .p_bottom_10{ padding-bottom:10px;}
  .p_10_10_5_10{ padding:10px 10px 5px 10px;}
  .p_top_2{ padding-top:2px;}
  .text_grey{ color:#636363;}
  .size12{ font-size:12px;}
  .p_left_15{ padding-left:15px;}
  .p_left_20{ padding-left:20px;}
  .p_left_10{ padding-left:10px;}
  .p_right_10{ padding-right:10px;}
  .p_left_5{ padding-left:5px;}
  .p_top_5{ padding-top:5px;}
  .text_red{ color:#ed008c;}
  .text_red12{ color:#ed008c; font-size:12px; font-weight:bold;}
  .text_price{ color:#ed008c; font-size:14px; font-weight:bold;}
  .bor_r{border-right:#666666 dotted 1px;}
  .bor_b{ border-bottom: #d9d9d9 solid 1px; min-height:10px;}
  .border_box{ border:#d9d9d9 solid 1px; padding:10px;}
  .bluelink{}
  .width110{ width:110px; float:left;}
  .width130{ width:130px; float:left;}
  .width140{ width:140px; float:left;}
  .width330{ width:330px;}
  .width380{ width:380px;}
  .width680{ width:680px;}
  .width650{ width:650px;}
  .width80{ width:80px;}
  .width95{ width:95px;}
  .width160{}
  	
  .width314{ width:314px;}
  .width702{  width:702px; height:234px; overflow:scroll; overflow-x:hidden; }
  .text12{ font-size:12px;}
  .text14{ font-size:14px; font-weight:bold;}
  
  .trainer_nav{ margin:0; padding:0; min-height:5px; text-align:center; }
  	.trainer_nav ul{ list-style:none; margin:0; padding:0; float:left;}
	.trainer_nav li{ list-style:none; float:left; padding:0 14px 0 0 ; margin:0;}
  
  .text_black14{ font-size:14px; color:#000000; font-weight:bold;}
  .bg_grey{ background:#c3c3c3;}
  
  
  /**-------------------------------Tram---------------------------*/
  .va_mi{ vertical-align:middle;}
  
  .profil{ border-bottom: #d9d9d9 solid 1px; width:100%;}
  	.profil ul{ width:100%; padding:0; margin:0;}
	.profil li{ display:inline; list-style:none; padding:0 18px; margin:0;}
	.profil li a{ font-size:14px; color:#7f7f7f; font-weight: normal;}
	.profil li a:focus,
	.profil li a:hover,
	.profil li a:active{ color:#ed008c; text-decoration:none;  font-weight: normal;}
	.profil .current a{ color:#ed008c; text-decoration:none;  font-weight: normal;}
  
  .ship{ border-bottom: #d9d9d9 solid 1px;}
	.ship li{ display:inline; list-style:none; padding-right:23px;}
	.ship li a{ font-size:14px; color:#7f7f7f; font-weight:bold;}
	.ship li a:focus,
	.ship li a:hover,
	.ship li a:active{ color:#ed008c; text-decoration:none;  font-weight:bold;}
	.ship .current a{ color:#ed008c; text-decoration:none;  font-weight:bold;}
  .r_c{ color:#ff0000;}
  .ship1{ padding-top:10px;}
    .ship1 label{ width:100px; float: left; padding-top:2px;}
	
	.ship1 select{ width:200px; margin-bottom:5px; border:solid 1px #cccccc; height:20px;}
  .ship2{ }
    .ship2 label{ width:100px; float: left; padding-top:2px;}

	.ship2 select{ width:200px; margin-bottom:5px; border:solid 1px #cccccc; height:20px;}
	.m100l{ margin-left:100px;}
  .width460{ width:460px;}
  .width240{ width:240px;}
  .width135{ width:135px;}
  .width178{ width:178px;}
  .width400{ width:400px;}
  .width230{ width:230px;}
  .width200{ width:200px;}
  .width450{ width:450px;}
  .width550{ width:550px; }
  .width730{ width:730px;}
  .t_c{ text-align:center;}
  .text_1{ font-size:14px; text-transform:uppercase;}
  .text_2{ font-size:12px; font-weight:bold; color:#515151;}
  .d_content{ background-color:#c3c3c3;}
  .d_title2{ vertical-align:middle; }
  .contact{}
  
  .contact textarea{ width:250px; height:80px;}
}

