﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Footer.ascx.cs" Inherits="UserControl_Footer" %>

<div id="footer" >
	<div class="container copyright">
    	<p>Bản quyền &copy; 2008-2013 <a target="_blank" href="http://anhxuan.com.vn">http://anhxuan.com.vn</a></p>
    </div>
</div><!--/ #footer-->