﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="gc_Gobal_Variable.ascx.cs" Inherits="gc_Gobal_Variable" %>

<!--Dùng để kiểm gán các biến toàn cục-->
<div  id='gcDIVShowSelectID' class='gcDIVShowMathSelect' >      </div>
<div  id='gcAccountID' style='display:none !important;' > </div>
<div  id='divShowID' class='gcDIVShow' > </div>
<!--End Biến toàn cục-->