﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="Header.ascx.cs" Inherits="UserControl_Header" %>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#gcBtnHomePageID").click(function () {
                    window.location = "../ZGCLOGINUSER/zgc0LoginUser.aspx";
                });
                $("#gcLogoutBtnID").click(function () {
                    window.location = "../Default.aspx";
                });
                $(window).load(function () {
                    $("#gcUserNameID").text(cur_gb_Account);
                });
            });
        </script>
<div id="header">
    <div class="header">
    	<div id="logo"><a href="http://anhxuan.com.vn" title="Anh Xuan"><img src="../images/logov2.png" alt="Logo Anh Xuan" width="70%" /></a> </div>

        <div style="float:left;color:#2878e8; left:200px;float: left;margin-left: 80px;margin-top: 18px;font-size: 14px;">Anh ngữ AMA Vũng Tàu</div>


        <div class="user">Xin chào <a href="#" id="gcUserNameID">Administrator</a><a href="../ZGCLOGINUSER/zgc0LoginUser.aspx" class="logout" id="gcBtnHomePageID">Trang chủ</a><a href="#" class="logout" id="gcLogoutBtnID">Thoát</a></div>
    </div>
</div><!--/ #header-->