﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="LoginForm.ascx.cs" Inherits="UserControl_LoginForm" %>

<div class="login" id="divLoginForm">
    <h3>Đăng nhập</h3>
    <div class="input">
        <label>Tên đang nhập</label>
        <input type="text" name="username" id="txtUsername" value="" class="required" minlength="6" runat="server"/>
    </div>
    <div class="input">
        <label>Mật khẩu</label>
        <input type="password" name="password" id="txtPassword" value="" class="required" minlength="6" runat="server"/>
    </div>

    <div class="input">
        <label>Nhập vào dãy số</label>
        <input type="text" name="password" id="txtimgcode" value="" class="required" minlength="5" runat="server"/>
 
    </div>
                   
        <div class="input">
                            <asp:Image ID="Image2" runat="server" ImageUrl="~/CImage.aspx"/>
    </div>
    <span style="color:Red" class="style2"><asp:Label ID="lbThongbao" runat="server"></asp:Label></span>
    <div class="button">
        <asp:Button id="submitId"  Text="Đăng nhập" value="Đăng nhập" runat="server" OnClick="Process_Click" />
    </div>
                
    <%--<div class="check">
        <label><input type="checkbox" name="remember" />Duy trì trạng thái đăng nhập</label>
    </div>--%>
    <div class="check">
    <a href="#">Không thể truy cập vào tài khoản?</a>
    </div>
        
</div><!---/ .login-->