@import url(resets-12.css);
body { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color:#333; background:#fcfafd url(../images/bg.png); line-height:18px;}
a { color:#0066cc; text-decoration:none;}
a:hover { color:#058dd7; text-decoration:underline;}
.clear { clear:both;}
#header { background:url(../images/bg_black.png); height: 50px; width: 100%; border-bottom: 1px solid #6cb13d; }
.header, .copyright{ width: 100%; margin: 0 auto; position:relative; z-index:0;}
#logo { position:absolute; left: 0; top:12px;}
.user { position:absolute; right:0; top: 10px; color:#fff; background:url(../images/user.png) no-repeat left center; padding-left: 25px; }
.user a { color:#fff; font-weight: bold;}
.user a.logout { margin-left: 15px; display:inline-block; background:#6cb13d; padding: 5px 16px;}
.user a.logout:hover{ background:#313131; box-shadow:inset 2px 2px 1px #252525, 1px 1px 0 #454444; -webkit-box-shadow:inset 2px 2px 1px #252525, 1px 1px 0 #454444; -moz-box-shadow:inset 2px 2px 1px #252525, 1px 1px 0 #454444; -o-box-shadow:inset 2px 2px 1px #252525, 1px 1px 0 #454444; text-decoration:none; cursor:pointer;}
#container {border-top: 2px solid #353535;}
.container { width: 100% !important; margin:0 auto; padding: 0px 0px; position: relative; min-height: 470px; background: #FFFFFF; 
            }
.login { position:absolute; top: 30px; right: 0; padding: 20px; background: #6cb13d url(../images/logo_login.png) no-repeat right top;}
.login h3 { font-size: 14px; text-transform: uppercase; margin-bottom: 20px; font-weight:normal;}
.login .input { margin-bottom: 10px;}
.login .input label { display:block;}
.login .input label.error { color:#fff;}
.login input { border:none; outline:none; margin: 0;}
.login .input input { width: 100%; background: #b5e288; padding: 5px;}
.login .button { padding: 6px 0;}
.login .button input, .login .button input:active, .login .button input:focus{cursor:pointer; background:#1763ab; color: #CCC; padding: 7px 16px; text-transform: uppercase; border-radius: 5px;}
.login .button input:hover{ background:#ccc; color: #1763ab;}
.login .check input{ margin-right: 5px;}
.login a { color:#333;}
.content h2 { font-family:"Tahoma", Times, serif; text-transform: uppercase; font-weight: normal; font-size: 20px; display: block; border-left: 4px solid #6cb13d; line-height: 25px;  padding-left:5px; /*height: 16px;*/ margin-bottom: 10px; margin-top: 10px;}
.content .item { background: url(images/aboutus.png) no-repeat 5px 5px; min-height: 120px; padding: 10px; padding-left: 50px; /* padding: 10px; */ margin: 0px 0 0 0px; border:  1px solid #ddd; background-color: #fff; cursor:pointer;}
.content .item.mailisa {background:url(../images/mailisa.png) no-repeat left top;}
.content .item h3, .about_us h3 { font-size: 14px; text-transform: uppercase;font-weight:bold; padding-bottom: 5px;}
.content .item a { color:#0066cc;}
.content .menu { list-style:none; overflow: hidden; padding: 20px 0 20px 30px;}
.content .menu li { float:left;}
.content .menu li a  {  color:#0066cc; padding: 3px 20px;}

.content .block { margin: 0 auto; width: 292px; float:  left; margin-right: 0px; margin-bottom: 0px; 
                  /* border:  1px solid #ccc; */ /*box-shadow: 1px 1px #999;*/
                  }
.content .itemcolor{
    background:#f2dede  url(images/aboutus.png) no-repeat 5px 5px;
    border-color: #F8F7FF;
}
.content .itemcolor-theme2{
    background: #DDDD4A  url(images/aboutus.png) no-repeat 5px 5px;
    border-color: #F8F7FF;
}
.content .itemcolor:hover{
    background: rgba(25,191,229,0.1) url(images/aboutus.png) no-repeat 5px 5px; 
}
.content .item:hover { background: rgba(25,191,229,0.1) url(images/aboutus.png) no-repeat 5px 5px; }
.about_us  { background:url(../images/iolo.png) no-repeat 3px 3px; min-height: 205px; padding-left: 270px;padding-right: 260px; }
.headform { background:url(../images/iolosmall.png) no-repeat 3px 3px; min-height: 20px; padding-left: 130px;padding-right: 30px; }
#footer { width: 100%;  height: 35px;}
#footer .copyright p { line-height: 40px; background:none;}
#footer .copyright  { background:none; min-height:40px;}
.footerItem{
    padding-top: -1px;
    margin-left: 2px;
}
#pagination{
    float:right;
}
#bottom_pager{
    float:right;
}
.LegBottomAndSlide{
    /* background: url(images/bgslide400.png) no-repeat center center; */ 
    background-color: #dff0d8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; text-align:center; 
    height: 42px; 
    /* position: absolute; */  
    bottom: 0px;  
    padding-top: 0px;
}
.LegBottom{
    background: url(images/bgslide400.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; text-align:center; 
    height: 40px; 
    /* position: absolute; */  
    bottom: 0px;  
    width: 318x;  
    height: 36px;
    padding-top: 0px;
    padding-left: 10px;
}
.itemClassImg{
    position: relative;
    background: url(../Usercontrol/images/tp1-next.png) no-repeat;
    height: 27px;
    width:27px;
    top: 0px;
    right: 45px;
    cursor:pointer;
    color:Red;
    padding:5px;
    padding-left:30px;
    
}
.itemClassImg:hover{
    background: url(../Usercontrol/images/tp1-next-hover.png) no-repeat;
    padding-left:32px;
}
.LegBottom a { color:#fff; font-weight: normal;}
.LegBottom a.logout { margin-left: 6px; display:inline-block; background:#6cb13d; padding: 2px 6px;}
.LegBottom a.logout:hover{ background:#313131; box-shadow:inset 2px 2px 1px #252525, 1px 1px 0 #454444; -webkit-box-shadow:inset 2px 2px 1px #252525, 1px 1px 0 #454444; -moz-box-shadow:inset 2px 2px 1px #252525, 1px 1px 0 #454444; -o-box-shadow:inset 2px 2px 1px #252525, 1px 1px 0 #454444; text-decoration:none; cursor:pointer;}
.login_sign label { width: auto; }
.login_sign h3 { font-size: 14px; text-transform: uppercase; margin-bottom: 20px; font-weight:normal;}
.login_sign .input { margin-bottom: 15px;clear:both; padding-bottom: 0px; min-height: 20px;}

div#r07o51 {}
.login_sign .input label { display:block; float:left; padding-top: 4px; margin-left:10px; margin-right: 10px; font-weight:normal; min-width: 105px;}
.login_sign .input label:first-child { margin-left:10px;}
.login_sign .input label.error { color:#1763ab;}
.login_sign input {  outline:none; margin: 0;   height: 28px; }
.login_sign input.checkbox {  outline:none; margin: 0;   height: 20px;   /* width:20px; */}
.login_sign .input input[type="file"]  { width: 250px; padding: 5px; float: left; }
.login_sign .input input { width: 150px; padding-left: 5px; float: left; }
.login_sign .inputauto { margin-bottom: 10px;clear:both; padding-bottom: 0px; height: auto;}
.login_sign .input #btnSearchInner {
     background: url(../Usercontrol/images/icon_search.png) no-repeat 4px center;
    width:33px;
    margin-left:-33px;
    border-bottom:none;
    border-top:none;
}
.login_sign .input textarea {float:left;}
.login_sign .inputauto textarea {float:left;}
.login_sign .inputauto label {display:block; float:left; padding-top: 2px; margin-left:10px; margin-right: 10px; font-weight:normal;}
.login_sign .inputauto label:first-child { margin-left:5px;}
.login_sign .inputauto label.error { color:#1763ab;}
.gc_FormOneRow label {width: 140px;float: left;}
.inputBtnBottom{
    position: relative;
    /* bottom:0px; */
    border-top: 1px solid #ccc;
    left: 10px;
    /* height: 30px; */
    /* position: absolute; */
    margin-bottom: 15px;
    margin-top: 5px;
    padding-top: 5px;
    padding-right: 0px;
}
.inputBtnBottom input{
    line-height:25px;
}
.inputBtnBottomV2{
    position: relative;
    /* bottom:0px; */
    border-top: 1px solid #ccc;
    left: 0px; 
    /* position: absolute; */
    margin-bottom: 10px;
    margin-top: 0px;
    padding-right: 0px;
    padding-top: 10px
}
.inputBtnBottomV2  a{
    line-height:20px;
    
}
.inputBtnBottomV2 input{
    line-height:20px;
    float:left;
    margin-right:10px;
}
.inputBtnBottomVHead{
    position: relative;
    /* bottom:0px; */
    left: 0px;
    height: 26px; 
    /* position: absolute; */
    margin-bottom: 1px;
    /*padding-top: 5px;*/
    padding-right: 0px;
}
.inputBtnBottomVHead  a {
    line-height:20px;
    color: rgb(219, 219, 219);
}
.inputBtnBottomVHead input {
    line-height:20px;
    float:left;
    margin-right:10px;
}

.inputBtnBottomVHead button { color: rgb(219, 219, 219);}

.inputBtnBottomVHeadNew {
    position: relative;
    /* bottom:0px; */
   
    left: 100px;
    height: 26px; 
    /* position: absolute; */
    margin-bottom: 15px;
    
    padding-top: 5px;
    padding-right: 0px;
}
.inputBtnBottomVHeadNew  a {
    line-height:20px;
    
}
.inputBtnBottomVHeadNew input {
    line-height:20px;
    float:left;
    margin-right:10px;
}
.login_sign .input #gc_txt_Search_ID
{
    width:300px;
    padding-right:34px; color:#888;
}
.login_sign .input #gc_cmb_HocVienID
{
    width:250px;
    padding-right:24px; color:#888;
}

.login_sign .input #search {
    width: 210px; 
    padding-right:34px; color:#888;
}
.login_sign .input #combobox {
background:#fff  url(../Usercontrol/images/arrow-normal.gif) no-repeat right 3px center;
color:#888;
padding-right:20px;
}
.login_sign .input #dp1 {
background:#fff  url(../Usercontrol/images/date7.png) no-repeat right 5px center;
width:150px;
}
.login_sign .input #dp1:hover {
background:#fff  url(../Usercontrol/images/date7-hover.png) no-repeat right 5px center;
}

.login_sign .input #combobox:hover {
    background:#fff  url(../Usercontrol/images/arrow-active.gif) no-repeat right 3px center;
}
.login_sign .button { padding: 0px 0;}
.login_sign .button input, .login .button input:active, .login .button input:focus{cursor:pointer; background:#1763ab; color: #CCC; padding: 4px 16px; text-transform: uppercase; /* border-radius: 5px; */}
.login_sign .button input:hover{ background:#ccc; color: #1763ab;}
.login_sign .check input{ margin-right: 5px;}
.login_sign a { color:#333;}
.headform h3 {padding:5px; padding-left:0px;}
.btn-update-form {
    background:  url(../Usercontrol/images/date7-hover.png) no-repeat left 5px center;
    padding-left:25px;
}
.gc_SearchForm
{
    min-height: 40px;
    min-width:300px; 
    margin-top:5px; 
    padding: 0px 0px 0px 10px; 
    background:#fff;
    margin: 20px 0;
    background: rgb(255, 246, 233);
    padding: 15px 10px;
    border: 1px solid rgb(255, 222, 175);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ShowTitleNumOBject {
    float:left;
    padding-left:20px;
    padding-top:10px;
    font-weight:bold;
    color:#2a78e9;
}

.gc_ClassInformation{
}
.gc_ClassInformation .InfoTeacher {
    float:left;
    color: blue;
    padding: 5px;

    padding-left: 20px;
    padding-right: 20px;
    border-left: 4px solid #2f78e4;
    background: #d9edf7;
}
.InfoTeacher  .ItemTeacherInfo {
    color:#333;
}
.gc_ClassInformation .InfoClass {
    margin-left:20px;
    float:left;
    color:Red;
    padding: 5px;  
    border: 1px solid #f;
    padding-bottom: 5px;
    padding-left: 20px;  
    /* margin-left: 5px; */  
    padding-right: 20px;  
    border-left: 4px solid #D47B1A;
    background: #f2dede;
    margin-bottom: 10px;
}
.InfoClass  .ItemClassInfo {
    color:#333;
}
.ItemTeacherInfo {
    color:#333;
}
.InfoStudent
{
    margin-left:0px;
    float:left;
    color:Red;
    padding: 2px;  
    border: 1px solid #f;
    padding-bottom: 5px;
    padding-left: 20px;  
    /* margin-left: 5px; */  
    padding-right: 20px;  
    border-left: 4px solid #D47B1A;
    background: #f2dede;
    margin-bottom: 10px;
    text-transform:uppercase;
    min-width:400px;
    font-size:16px;
}
.gc_ClassInformation .InfoStudent
{
    margin-left:0px;
    float:left;
    color:Red;
    padding: 2px;  
    border: 1px solid #f;
    padding-bottom: 5px;
    padding-left: 20px;  
    /* margin-left: 5px; */  
    padding-right: 20px;  
    border-left: 4px solid #D47B1A;
    background: #f2dede;
    margin-bottom: 10px;
    text-transform:uppercase;
    min-width:400px;
    font-size:16px;
}

.ItemStudentInfo
{
    padding:2px;
    color:#333;
    text-transform:none;
}
.login_sign .input .gc-style-input-large200 
{
    width: 220px; 
}
.gc-style-input-large200 {
    width:200px;
}
.gc-style-input-large300 {
    width:300px;
}
.gc-th-color{
    color: #3a87ad;
}
.gc-th-fixed-size
{
    width:15px;
}
.btn-group > .gc-th-btn-setting:first-child
{
    margin-left:0px;
    line-height:13px;
}
.gc-th-color{
    color: #3a87ad;
}
.alert-info-gc-small {
    padding:5px;
    margin-bottom:10px;
}
.gc-dropdown {
    margin-left:-50px;
}
.gc-style-created-user {
    float: right;
    line-height:12px;
    font-size: 11px;
    color:#BB30E7;
}
.gc-style-dropdown {
     margin-left:-0px;
    line-height:12px;
}
.gc-style-dropdown .button {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.gc-style-dropdown .open .dropdown-menu {
    position: absolute;
    float: left;
    background-color: #fff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 0 1px 1px;
    border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.gc-style-dropdown > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.loader {
    background: #fff  url(../Usercontrol/images/loading.gif) no-repeat right 3px center;
}
.loaderleft {
    background: #fff  url(../Usercontrol/images/loading.gif) no-repeat left 3px center;
}
.gc-style-form-combo
{
      background: #fff  url(../Usercontrol/images/arrow-normal.gif) no-repeat right 3px center;
      padding-right: 20px;
      color: #000;
      font-weight: bold;
}
.gc-style-form-combo-hover{
      background: #fff  url(../Usercontrol/images/arrow-active.gif) no-repeat right 3px center;
}
.modal {
    width: 845px;
    margin: -250px 0 0 -430px;
    background-color: #f6f5ed;
    position: absolute;
    border: 1px solid #cdc4b2;
    top: 50%;
    left: 50%;
    padding:30px;
}
.dropdown-menu
{
    margin-top:0;
    border-top-left-radius: 0px;
    /*border-top-right-radius: 0px;*/
}
.dropdown-menu > li > a:hover .open
{
    cursor:pointer;
}
/*------------------------------------*\
		$BUTTONS
\*------------------------------------*/
.button-container{
	float: right;
	margin-top: -50px;
	position: relative;
}
.button-container .button-ball{
	height: 40px;
	max-width: 155px;
	font-size: 1em;
	line-height: 40px;
	font-weight: bold;
	text-align: left;
	text-shadow: 0px 1px 0px RGB(250,220,120);
	filter: dropshadow(color=RGB(250,220,120), offx=0, offy=1);
	padding: 0px 45px 0px 12px;
	margin-top: 0px;
	background-repeat: no-repeat;
	background-position: right center;
	background: rgb(250,220,100); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(250,220,100,1) 0%, rgba(249,158,30,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,220,100,1)), color-stop(100%,rgba(249,158,30,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,220,100,1) 0%,rgba(249,158,30,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,220,100,1) 0%,rgba(249,158,30,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,220,100,1) 0%,rgba(249,158,30,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(250,220,100,1) 0%,rgba(249,158,30,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fadc64', endColorstr='#f99e1e',GradientType=0 ); /* IE6-9 */	
	border: 1px solid RGB(249,158,38);
	border-radius: 4px;
	cursor: pointer;
}
.button-container:hover .button-ball{
	background: rgb(255,225,105); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,225,105,1) 0%, rgba(255,164,35,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,225,105,1)), color-stop(100%,rgba(255,164,35,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,225,105,1) 0%,rgba(255,164,35,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,225,105,1) 0%,rgba(255,164,35,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,225,105,1) 0%,rgba(255,164,35,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,225,105,1) 0%,rgba(255,164,35,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe169', endColorstr='#ffa423',GradientType=0 ); /* IE6-9 */
	border-color: RGB(230,140,20);
}
.button-container .button-ball.pressed{
	-webkit-box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, .2);
	box-shadow: inset 0px 0px 9px 0px rgba(0, 0, 0, .2);
	background: rgb(250,175,30); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(250,175,30,1) 0%, rgba(250,190,80,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(250,175,30,1)), color-stop(100%,rgba(250,190,80,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(250,175,30,1) 0%,rgba(250,190,80,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(250,175,30,1) 0%,rgba(250,190,80,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(250,175,30,1) 0%,rgba(250,190,80,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(250,175,30,1) 0%,rgba(250,190,80,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faaf1e', endColorstr='#fabe50',GradientType=0 ); /* IE6-9 */
}
.button-container .button-arrow {
	position: absolute;
		top: 4px;
		right: 0px;
	cursor: pointer;
    -webkit-animation: bounce-vertical 1s infinite linear;
    -moz-animation: bounce-vertical 1s infinite linear;
    -o-animation: bounce-vertical 1s infinite linear;
    animation: bounce-vertical 1s infinite linear;
}

/*** Bounce-Horizontal ***/
@-webkit-keyframes bounce-horizontal {
    0% { right: 14px; }
   50% { right: 4px; }
  100% { right: 14px; }
}
@-moz-keyframes bounce-horizontal {
    0% { right: 14px; }
   50% { right: 4px; }
  100% { right: 14px; }
}
@-o-keyframes bounce-horizontal {
    0% { right: 14px; }
   50% { right: 4px; }
  100% { right: 14px; }
}
@keyframes bounce-horizontal {
	0% { right: 14px; }
   50% { right: 4px; }
  100% { right: 14px; }
}

/*** Bounce-Horizontal-Small ***/
@-webkit-keyframes bounce-horizontal-small {
    0% { right: 7px; }
   50% { right: 0px; }
  100% { right: 7px; }
}
@-moz-keyframes bounce-horizontal-small {
   0% { right: 7px; }
   50% { right: 0px; }
  100% { right: 7px; }
}
@-o-keyframes bounce-horizontal-small {
   0% { right: 7px; }
   50% { right: 0px; }
  100% { right: 7px; }
}
@keyframes bounce-horizontal-small {
	0% { right: 7px; }
   50% { right: 0px; }
  100% { right: 7px; }
}

/*** Bounce-Vertical ***/
@-webkit-keyframes bounce-vertical {
    0% { top: 2px; 
    transform: skew(0deg,2deg);
    -ms-transform: skew(0deg,2deg); /* IE 9 */
    -webkit-transform: skew(0deg,2deg); /* Safari and Chrome */
    }
    25% { top: 6px; 
    transform: skew(2deg,5deg);
    -ms-transform: skew(2deg,5deg); /* IE 9 */
    -webkit-transform: skew(2deg,5deg); /* Safari and Chrome */
    }
   50% { top: 10px; 
         transform: skew(5deg,3deg);
    -ms-transform: skew(5deg,3deg); /* IE 9 */
    -webkit-transform: skew(5deg,3deg); /* Safari and Chrome */
         }
   75% { top: 6px; 
    transform: skew(3deg,2deg);
-ms-transform: skew(3deg,2deg); /* IE 9 */
-webkit-transform: skew(3deg,2deg); /* Safari and Chrome */
    }
  100% { top: 2px; 
         transform: skew(2deg,0deg);
-ms-transform: skew(2deg,0deg); /* IE 9 */
-webkit-transform: skew(2deg,0deg); /* Safari and Chrome */
         }
  
}
@-moz-keyframes bounce-vertical {
    0% { top: 5px; }
   50% { top: 15px; }
  100% { top: 5px; }
}
@-o-keyframes bounce-vertical {
    0% { top: 5px; }
   50% { top: 15px; }
  100% { top: 5px; }
}
@keyframes bounce-vertical {
    0% { top: 5px; }
   50% { top: 15px; }
  100% { top: 5px; }
}

#invite.v1 .button-container .button-arrow {
	-webkit-animation-name: bounce-horizontal-small;
    -moz-animation-name: bounce-horizontal-small;
    -o-animation-name: bounce-horizontal-small;
    animation-name: bounce-horizontal-small;
}
#download  .button-container .button-arrow {
	right: 15px;
    -webkit-animation-name: bounce-vertical;
    -moz-animation-name: bounce-vertical;
    -o-animation-name: bounce-vertical;
    animation-name: bounce-vertical;
}
.button-container img{
    width:34px;
    height:30px;
}
.button-arrow {
    top: 0px;
    right: 8px;

}
/*------------------------------------*\
		END $BUTTONS
\*------------------------------------*/
.gc-gb-right-toolbar { width: 40px ; position: fixed; bottom: 121px  ; right: 10px; z-index:200;}
.gc-gb-quick { width: 38px ; height: 141px ; position: fixed ; bottom: 0px ; right: 0px; z-index: 20; background:rgba(25,191,229,0.5);}
.gc-gb-quick img { float : left ; z-index: 99}
.gc-gb-advice {
    background: #eef;
    border: 1px solid #ccf;
    padding: 10px 16px;
    margin-bottom: 10px;
}
.gc-gb-notshowatInit{
    display:none;
}
.brlabel60{ 
  width: 75px !important;
  display:inline-block !important;
}
.brlabel75{ 
   width: 75px !important;
  display:inline-block !important;
}
.brlabel85{ 
       width: 85px !important;
  display:inline-block !important;
}
 .brlabel185{ 
       width: 185px !important;
  display:inline-block !important;
}
.brlabel100{ 
  width: 125px !important;
  display:inline-block !important;
}
.brlabel125{ 
  width: 125px !important;
  display:inline-block !important;
}
.brlabel155{ 
  width: 155px !important;
  display:inline-block !important;
}
.brwidthinput200{
    width:200px !important;
}
.brwidthinput300 {
    width:300px !important;
}
.brwidthinput400{
    width:400px !important;
}      
.brwidthinput514{
    width:514px !important;
}
.brwidthinput543{
    width:543px !important;
}
.brwidthinput80{
    width:80px !important;
}
.brwidtharea300{
    width:300px !important;
    margin-bottom : 10px;
}      
.clear
{ clear: both;}
#top_overlay
{
    position:fixed; 
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:#000;
		opacity:0.5;
		filter:alpha(opacity=50);
z-index: 9999;
}
#top_modal {
	position:absolute;
	background:url(tint20.png) 0 0 repeat;
	background:rgba(0,0,0,0.2);
	border-radius:14px;
	padding:8px;
	z-index:9999999;
}
#top_content {
	border-radius:8px;
	background:#fff;
	padding:20px;
}
#close {
	position:absolute;
	background:url(close.png) 0 0 no-repeat;
	width:24px;
	height:27px;
	display:block;
	text-indent:-9999px;
	top:0px;
	right:0px;
}
.content .itemcolor1
{
    background:yellow  url(images/aboutus.png) no-repeat 5px 5px;
    border-color: #F8F7FF;
}
.dlg_cl{
    min-height:100px;min-width:300px;  padding:20px 20px 20px 20px; background:#fff;
}
.gimg{ cursor:pointer;right: 0;background: url(colorbox-master/images/controls.png) no-repeat -25px 0;width: 25px;height: 25px;}
.gimg:hover{background-position: -25px -25px;}
.btn-black {color: #ffffff;background-color: #156E97;border-color: #6C9144;}
/*.btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group, .btn-toolbar > .btn-group + .btn-group {
    margin-left: -4px;
}*/
.btn-group .btn-menu a{
   /* color: navy; */
}
.btn-group .active a{
    color: #0066cc;
}
.btn-menu {
  color: #ffffff;
  
  /* background-color: #f0ad4e; */
  border-color: #eea236;
}
.btn-menu.active
{
    background-color: #d58512;
}
.btn-menu:hover
{
    text-decoration:underline;
}
.btn-menu.active:hover
{
    text-decoration:none;
}/*/*

.btn-menu:focus, 
.btn-menu:active,
.btn-menu.active, */
.open .dropdown-toggle.btn-menu {
  color: #ffffff;
  background-color: #d58512;
  border-color: #d58512;
}

.btn-menu:active,
.btn-menu.active,
.open .dropdown-toggle.btn-menu {
  background-image: none;
}

.btn-menu.disabled,
.btn-menu[disabled],
fieldset[disabled] .btn-menu,
.btn-menu.disabled:hover,
.btn-menu[disabled]:hover,
fieldset[disabled] .btn-menu:hover,
.btn-menu.disabled:focus,
.btn-menu[disabled]:focus,
fieldset[disabled] .btn-menu:focus,
.btn-menu.disabled:active,
.btn-menu[disabled]:active,
fieldset[disabled] .btn-menu:active,
.btn-menu.disabled.active,
.btn-menu[disabled].active,
fieldset[disabled] .btn-menu.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.inputcheckbox
{
    margin-right: 185px !important;
    width: 15px !important;
}

.bootstrap-select-searchbox input { width: 100% !important;}

.header-report { background : url(../images/logoshtp.png) no-repeat;background-size: 17% 60px; ; width: 100% ; height: 65px; text-align: center; vertical-align: middle; font-size: 28px/*; padding-left: 25%*/; padding-top: 2%; line-height: 32px;}

/* style button*/


.br-button {
    -moz-box-shadow: inset 0 0 0 1px #63ad0d;
    -webkit-box-shadow: inset 0 0 0 1px #63ad0d;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #eee;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(#eee, #e2e2e2);
    background: linear-gradient(#eee, #e2e2e2);
    border: solid 1px #d0d0d0;
    border-bottom: solid 3px #b2b1b1;
    border-radius: 3px;
    box-shadow: inset 0 0 0 1px #f5f5f5;
    color: #555;
    display: inline-block;
    font: bold 12px Arial, Helvetica, Clean, sans-serif;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fafafa; }
    
.br-button:hover {
    background: #e4e4e4;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#e4e4e4), to(#ededed));
    background: -moz-linear-gradient(#e4e4e4, #ededed);
    background: linear-gradient(#e4e4e4, #ededed);
    border: solid 1px #c2c2c2;
    border-bottom: solid 3px #b2b1b1;
    box-shadow: inset 0 0 0 1px #efefef; }
    
.br-button:active {
    background: #dfdfdf;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#dfdfdf), to(#e3e3e3));
    background: -moz-linear-gradient(#dfdfdf, #e3e3e3);
    background: linear-gradient(#dfdfdf, #e3e3e3);
    border: solid 1px #959595;
    box-shadow: inset 0 10px 15px 0 #c4c4c4;
    top:2px;}
    
 .br-button a {color: #555 !important;}
 .br-button a:hover { text-decoration:none;}
    
   