.ShowTitleNumOBject
{
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    font-weight: bold;
    color: #2a78e9;
}

.LegBottomAndSlide
{
    /* background: url(images/bgslide400.png) no-repeat center center; */
    background-color: #dff0d8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    height: 42px; /* position: absolute; */
    bottom: 0px;
    padding-top: 0px;
}
#pagination
{
    float: right;
}
.item .color-palette-set
{
    cursor: pointer;
}
.bg-item-index-box
{
    height: 35px;
    width: 23%;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
    float: left;
    margin: 0px 5px 5px 0px;
    text-align: center;
    vertical-align: middle;
}
.bg-item-index
{
    background-color: #3c8dbc !important;
}
.bg-item-fare-box
{
    height: 30px;
    text-align: right;
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
    padding-right: 7px;
    color: White;
}
.bg-item-fare
{
    background-color: #357ca5 !important;
}
.bg-item-name-box
{
    height: 100px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    line-height: 20px;
    margin-bottom: -7px;
}
.bg-item-name
{
    background-color: rgb(171, 205, 225) !important;
}
.bg-item-name-text
{
    font-size: 15px;
    padding: 5px;
    font-weight: 600;
}
.bg-icon-confirm
{
    border-radius: 15px !important;
}
/*
    Modal
*/
#top_overlay
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 9999;
}
#top_modal
{
    position: absolute;
    background: url(tint20.png) 0 0 repeat;
    background: rgba(0,0,0,0.2);
    border-radius: 14px;
    padding: 8px;
    z-index: 9999999;
}
#top_content
{
    border-radius: 8px;
    background: #fff;
    padding: 20px;
}
#close
{
    position: absolute;
    background: url(close.png) 0 0 no-repeat;
    width: 24px;
    height: 27px;
    display: block;
    text-indent: -9999px;
    top: 0px;
    right: 0px;
}
.loader
{
    background: #fff url(../Usercontrol/images/loading.gif) no-repeat right 3px center;
}
.loaderleft
{
    background: #fff url(../Usercontrol/images/loading.gif) no-repeat left 3px center;
}
.modal
{
    width: 845px;
    margin: -250px 0 0 -430px;
    background-color: #f6f5ed;
    position: absolute;
    border: 1px solid #cdc4b2;
    top: 50%;
    left: 50%;
    padding: 30px;
}
/*
    item blue
*/
.skin-blue .bg-item-index, .skin-blue-light .bg-item-index
{
    background-color: #3c8dbc !important;
}
.skin-blue .bg-item-fare, .skin-blue-light .bg-item-fare
{
    background-color: #357ca5 !important;
}
.skin-blue .bg-item-name, .skin-blue-light .bg-item-name
{
    background-color: rgb(171, 205, 225) !important;
}
.skin-blue div.jtable-main-container div.jtable-title, .skin-blue-light div.jtable-main-container div.jtable-title
{
    background: linear-gradient(to bottom,#357ca5 0%,rgb(171, 205, 225) 100%) !important;
    border-color: #357ca5;
}
.skin-blue div.jtable-main-container table.jtable tbody > tr.jtable-row-selected, .skin-blue-light div.jtable-main-container table.jtable tbody > tr.jtable-row-selected
{
    background-color: #357ca5;
}
.skin-blue div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active, .skin-blue-light div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active
{
    background-color: #3c8dbc;
    border-color: #357ca5;
}
.skin-blue .bg-icon-confirm, .skin-blue-light .bg-icon-confirm
{
    background-color: #3c8dbc !important;
}

/*
    item yellow
*/
.skin-yellow .bg-item-index, .skin-yellow-light .bg-item-index
{
    background-color: #F39C12 !important;
}
.skin-yellow .bg-item-fare, .skin-yellow-light .bg-item-fare
{
    background-color: #FF7701 !important;
}
.skin-yellow .bg-item-name, .skin-yellow-light .bg-item-name
{
    background-color: rgb(251, 228, 189) !important;
}
.skin-yellow .nav-tabs-custom > .nav-tabs > li.active, .skin-yellow-light .nav-tabs-custom > .nav-tabs > li.active
{
    border-top-color: #F39C12;
}
.skin-yellow div.jtable-main-container div.jtable-title, .skin-yellow-light div.jtable-main-container div.jtable-title
{
    background: linear-gradient(to bottom,#F39C12 0%,rgb(251, 228, 189) 100%) !important;
    border-color: #F39C12;
}
.skin-yellow div.jtable-main-container table.jtable tbody > tr.jtable-row-selected, .skin-yellow-light div.jtable-main-container table.jtable tbody > tr.jtable-row-selected
{
    background-color: #F39C12;
}
.skin-yellow div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active, .skin-yellow-light div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active
{
    background-color: #F39C12;
    border-color: #F39C12;
}
.skin-yellow .bg-icon-confirm, .skin-yellow-light .bg-icon-confirm
{
    background-color: #F39C12 !important;
}

/*
    item black
*/
.skin-black .bg-item-index, .skin-black-light .bg-item-index
{
    background-color: rgb(210, 214, 222) !important;
}
.skin-black .bg-item-fare, .skin-black-light .bg-item-fare
{
    background-color: rgb(181, 187, 200) !important;
}
.skin-black .bg-item-name, .skin-black-light .bg-item-name
{
    background-color: rgb(225, 227, 232) !important;
}
.skin-black .nav-tabs-custom > .nav-tabs > li.active, .skin-black-light .nav-tabs-custom > .nav-tabs > li.active
{
    border-top-color: black;
}
.skin-black div.jtable-main-container div.jtable-title, .skin-black-light div.jtable-main-container div.jtable-title
{
    background: linear-gradient(to bottom,rgb(210, 214, 222) 0%,rgb(225, 227, 232) 100%) !important;
    border-color: rgb(210, 214, 222);
}
.skin-black div.jtable-main-container table.jtable tbody > tr.jtable-row-selected, .skin-black-light div.jtable-main-container table.jtable tbody > tr.jtable-row-selected
{
    background-color: rgb(210, 214, 222);
}
.skin-black div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active, .skin-black-light div.jtable-main-container div.jtable-bottom-panel .jtable-page-list .jtable-page-number-active
{
    background-color: rgb(210, 214, 222);
    border-color: rgb(210, 214, 222);
}
.skin-black .bg-icon-confirm, .skin-black-light .bg-icon-confirm
{
    background-color: rgb(210, 214, 222) !important;
}

