@charset "UTF-8";


@media all
{
 /*------------------------------------------------------------------------------------------------------*/

  /* Page margins and background | Randbereiche & Seitenhintergrund */
  body { width:100%; color:#474747; background:#fff url(../../img/bg.jpg) repeat-x top left;}

  /* Layout: Width, Background, Border | Layout: Breite, Hintergrund, Rahmen */
  #page{ width:100%; margin:0px auto;}
  #page_margin{ width:100%; margin:0px auto;}
  
  .w950{ width:950px; margin:0px auto;}

  /* Design of the Main Layout Elements | Gestaltung der Hauptelemente des Layouts */
  #header { width:950px; margin:0px auto; height:92px;}
  	.logo{ float:left; margin:0px 0px;}
  #bg_top{ width:100%; margin:0px auto; background:url(../../img/bg_margin.jpg) no-repeat top left;}
	
  #topnav {  }

  #main { width:100%; margin:0px auto; padding-bottom:10px; height: 500px}
  	.flash{ width:633px; height:285px; background-color:#fff; border:solid 1px #b2bda5; float:left; margin-top:5px;}
	
  #footer { width:100%; height:29px; background:#fff url(../../img/bg_footer.jpg) repeat-x top left; padding-top:20px; color:#897777; position:fixed; bottom:0px}

 /*------------------------------------------------------------------------------------------------------*/

 /**
  * Formatting of the Content Area | Formatierung der Inhaltsbereichs
  *
  * @section layout-main
  */

  .col1 { width:625px; float:left;}
  .col1_content {  }

  .col2 { width:318px; float:right;}
  .col2_content {  }

  .col3 { width:248px; float:left;}
  .col3_content {  }


 /*------------------------------------------------------------------------------------------------------*/

 /**
  * Design of Additional Layout Elements | Gestaltung weiterer Layoutelemente
  *
  * @section layout-misc
  */


}
