@charset "UTF-8";
/**
 * "Yet Another Multicolumn Layout" - (X)HTML/CSS Framework
 *
 * (en) Uniform design of standard content elements
 * (de) Einheitliche Standardformatierungen für die wichtigten Inhalts-Elemente
 *
 * @copyright       Copyright 2005-2007, Dirk Jesse
 * @license         CC-A 2.0 (http://creativecommons.org/licenses/by/2.0/),
 *                  YAML-C (http://www.yaml.de/en/license/license-conditions.html)
 * @link            http://www.yaml.de
 * @package         yaml
 * @version         3.0.4
 * @revision        $Revision: 138 $
 * @lastmodified    $Date: 2007-11-19 21:05:33 +0100 (Mo, 19 Nov 2007) $
 * @appdef yaml
 */

@media all
{
  /**
   * Fonts
   * (en) font-family and font-size selection for headings and standard text elements
   * (de) Zeichensatz und Schriftgrößen für Überschriften und übliche Text-Elemente
   *
   * @section content-fonts
   */

  /* (en) reset font size for all elements to standard (16 Pixel) */
  /* (de) Alle Schriftgrößen auf Standardgröße (16 Pixel) zurücksetzen */
  html * { font-size: 100% }

  textarea, pre, tt, code {font-family: Arial, Helvetica, sans-serif; font-size:12px; }
  body {font-family: Arial, Helvetica, sans-serif; font-size:12px; }

  h1,h2,h3,h4,h5,h6 { margin: 0 0 0.25em 0; }
  h1 { font-size: 200% }                        /* 24px */
  h2 { font-size: 166.67% }                     /* 20px */
  h3 { font-size: 150% }                        /* 18px */
  h4 { font-size: 133.33% }                     /* 16px */
  h5 { font-size: 116.67% }                     /* 14px */
  h6 { font-size: 116.67%; font-style:italic }  /* 14px */

  p { line-height:15px; margin: 0; }
  img{ border:0;}
  style{ color:#FF0000;}
  br{ line-height:12px;}
  /* ### Lists | Listen  #### */

  ul, ol, dl { line-height: 1.5em; margin: 0 0 1em 1em }
  li { margin-left: 1.5em; line-height: 1.5em }

  dt { font-weight: bold }
  dd { margin: 0 0 1em 2em }

  

  .note {background: #dfd; padding: 1em; border-top: 1px #bdb dotted; border-bottom: 1px #bdb dotted;}
  .important {background: #ffd; padding: 1em; border-top: 1px #ddb dotted; border-bottom: 1px #ddb dotted;}
  .warning {background: #fdd; padding: 1em; border-top: 1px #dbb dotted; border-bottom: 1px #dbb dotted;}  

   
  .c50l, .c25l, .c33l, .c38l, .c66l, .c75l, .c62l {float: left; }
  .c50r, .c25r, .c33r, .c38r, .c66r, .c75r, .c62r {float: right; margin-left: -5px; }

  .c25l, .c25r { width: 25% }
  .c33l, .c33r { width: 33.333% }
  .c50l, .c50r { width: 50% }
  .c66l, .c66r { width: 66.666% }
  .c75l, .c75r { width: 75% }
  .c38l, .c38r { width: 38.2% }
  .c62l, .c62r { width: 61.8% }

  .subc  { padding: 0 0.5em }
  .subcl { padding: 0 1em 0 0 }
  .subcr { padding: 0 0 0 1em }

  a {color: #555555; text-decoration:none;}
  a:focus,
  a:hover,
  a:active {color: #4c8a00; text-decoration:none;}
  
  #topnav a { color: #aac; font-weight: bold; background:transparent; text-decoration:none; }
  #topnav a:focus,
  #topnav a:hover,
  #topnav a:active{ text-decoration:underline; background-color: transparent;}
  
  #footer a { color: #555555; background:transparent;}
  #footer a:focus,
  #footer a:hover,
  #footer a:active {color: #4c8a00; background-color: transparent; text-decoration:none;}  

  hr {
    color: #fff;
    background:transparent;
    margin: 0 0 0.5em 0;
    padding: 0 0 0.5em 0;
    border:0;
    border-bottom: 1px #000 solid;
  }
  
  
  /*-----------------------------------FLOAT FORMAT-----------------------------------*/  	
	.float_left { float: left;}
  	.float_right { float: right;}
	.clear{ clear:both;}
	.clear_left{ clear:left;}
	.clear_right{ clear:right;}
	
/*-----------------------------------TEXT FORMAT-----------------------------------*/  
	.center { text-align:center;}
  	.left { text-align:left;}
  	.right { text-align:right;}
	.uper{ text-transform:uppercase;}
	.top{ vertical-align:top;}
	.mid{ vertical-align:middle;}
	.linethrough{ text-decoration:line-through;}
  	cite, blockquote { font-style:italic }
  	blockquote { margin: 0 0 1em 1.5em }
  	strong,b { font-weight: bold }
  	em,i { font-style:italic }
  	pre, code { font-family: monospace; font-size: 1.1em; }
  	acronym, abbr {	letter-spacing: .07em; border-bottom: .1em dashed #c00;	cursor: help;} 
/*-----------------------------------FONT SIZE---COLOR-----------------------------------*/  
	.fs35{ font-size:35px;}
	.fs15{ font-size:15px;}
	.fs13{ font-size:13px;}	
	.fs11{ font-size:11px;}
	
	.black{ color:#000;}
	.green{ color:#3f7500;}
		.green a{ color:#3f7500;}
		.green a:hover{ color:#3f7500; text-decoration:underline;}
	.w_bg{ background-color:#fff;}
	
/*-----------------------------------BORDER-----------------------------------*/
	.bs1{ border:solid 1px #edede8;}
	.bs1l{ border-left:solid 1px #b8b8b8;}
	.bs1b{ border-bottom:solid 1px #b8b8b8;}
	.bd1b{ border-bottom:dotted 1px #cadbb4;}
	
/*-----------------------------------WIDTH-----------------------------------*/	
	.w315 { width:315px;} 
	.w280 { width:280px;}
	.w230 { width:230px;} 	 	

/*--------------------------------TITLE-----TEXT------------------------------*/ 
	.title{ font-size:13px; color:#fff; padding:7px 0px 5px 35px; font-weight:bold; background:url(../../img/icon.png) no-repeat 10px 6px;}
	
/*--------------------------------PADDING------------------------------*/ 
	
	.p20t{ padding-top:20px;}
	.p15t{ padding-top:15px;}
	.p10t{ padding-top:10px;}
	.p5t{ padding-top:5px;}
	.p2t{ padding-top:2px;}
	
	.p20r{ padding-right:20px;}
	.p10r{ padding-right:10px;}
	
	.p20l{ padding-left:30px;}
	.p18l{ padding-left:18px;}
	.p10l{ padding-left:10px;}
	.p5l{ padding-left:5px;}
	
	.p5b{ padding-bottom:5px;}
	.p10b{ padding-bottom:10px;}
	
	.p1{ padding:1px;}
	
/*--------------------------------MARGIN------------------------------*/ 
	.m10l{ margin-left:10px;}
	.m5l{ margin-left:5px;}
	
	.m10r{ margin-right:10px;}
	.m5r{ margin-right:5px;}
	
	.m30t{ margin-top:45px;}
	.m20t{ margin-top:20px;}
	.m10t{ margin-top:10px;}
	.m5t{ margin-top:5px;}
	
/*--------------------------------BACKGROUND------------------------------*/ 
	.input_bg{ width:177px; height:18px; background:url(../../img/bg_input.jpg) no-repeat top left; color:#a1a1a1; border:none; padding:2px 3px; float:left; margin-top:1px;}
	
	.bg_tt{ width:258px; height:24px; background:url(../../img/bg_tt.png) no-repeat top left; padding:9px 0px 0px 60px; font-size:13px; text-transform:uppercase; font-weight:bold;}
	.bg_tt1{ width:565px; height:22px; background:url(../../img/bg_tt1.png) no-repeat top left; padding:9px 0px 0px 60px; font-size:13px; text-transform:uppercase; font-weight:bold;}
	.bg_ttr{ width:300px; height:34px; background:url(../../img/bg_ttr.jpg) no-repeat top left; font-size:13px; text-transform:uppercase; font-weight:bold; padding:2px 0px 0px 18px;}
	
	.bg_tt_tb1{ font-size:20px; color:#cc0000; text-transform:uppercase; background:#cdcdcd url(../../img/bg_tt.jpg) repeat-x top left;}
	.bg_tt_tb2{ width:152px; height:30px; padding-top:32px; font-size:16px; color:#000; text-transform:uppercase; background:url(../../img/bg_month.jpg) repeat-x top left;}
	
	.bg_c{ width:318px; background:url(../../img/cen.png) repeat-y top left;}
	.bg_bot{ width:318px; height:6px; font-size:0%; background:url(../../img/bot.png) no-repeat top left;}
	
/*--------------------------------CONTENT------------------------------*/
	.list_1{ margin:0px 0px; padding-top:5px;}
		.list_1 li{ list-style:none; display:block; margin-left:0px; background:url(../../img/line_na.jpg) no-repeat bottom; padding-top:6px; padding-bottom:6px;}
		.list_1 li a{ margin-left:0px; color:#404040; background:url(../../img/icon_1.jpg) no-repeat 17px 4px; padding-left:35px; text-transform:uppercase;}
		.list_1 li a:hover{ color:#69a321; text-decoration:none;}
		.list_1 li .current{ color:#69a321; text-decoration:none;}
	.input_form{}
		.input_form input{ height:18px; padding:2px; margin-bottom:5px; border:solid 1px #cc; color:#aaa;}		
	
}

