/* CSS Document */



	/* -- menu -- */
	#nav{}
	.menucontainer { color:#0a73a8; text-align:left; padding-left:15px;}
		.menucontainer a { color:#0a73a8; text-decoration:none;   padding:10px 10px 6px 10px; }
		.menucontainer a:hover { background-color:none; }
		.menucontainer ul { margin:0; padding:0;}
		.menucontainer li { display:inline;  padding-top:2px; padding-bottom:2px; position:relative;}
		.menucontainer li.firstitem{ background:none;}
		.menucontainer li.selected a{ background-color:none; }
	
		/* ######### Style for Drop Down Menu ######### */
		.dropmenudiv{
			margin-top:8px;
			z-index:100;
			background-color:transparent;
			width: auto;
			visibility:hidden;
			float:left;
			top:0px;
			left:100px;
			position:absolute;
			
		}		
		
		.dropmenudiv a{
			
			width: 100%;
			display:inline;
			text-indent: 5px;
			padding-left:10px;
			padding-right:10px;
			text-decoration: none;
			color: #fff;
			margin-right:10px;
		}

		
		.dropmenudiv a:hover{ color:#ff0000; text-decoration:none; background-color:transparent;}
		.dropmenudiv .cu{ color:#ff0000;}
		
			