﻿<%@ WebHandler Language="C#" Class="ReportReceiptTheoNgaytHandler" %>

/*------------------------------------*/
/* Summary description for  WSgcGobal_StyleSheet */
using System;
using System.Web;
using System.Data;
using zgc0LibAdmin;
using gcLibAdmin;
using System.Web.SessionState;
public class ReportReceiptTheoNgaytHandler : IHttpHandler, IReadOnlySessionState
{
    string _Id = "-1";

    String strOrderBy;
    double Number = 0;
    string StrConvert = "";
    string headerStr = "<table class=\"rptprintBodyTable\" width=\"800px\" style=\"background:#FFFFFF\">"
			+ "<tr>"
                        + "<td colspan=\"2\" style='font-size:12px;'> &nbsp;</td>"
                        + "</tr>"
                        + "<tr>"
			+ "<tr>"
                     + "<td width=\"500px\"align=\"center\" ><span style='font-weight:bold;font-size:18px;'> {1} </span>  </br><span style='font-size:12px;'>Điện thoại: <strong>{2}</strong> &nbsp;Địa chỉ: {3}</br></span></td>"
                        + "<td></td>"
                        + "</tr>"
                        + "<tr>"
                        + "<tr>"
                        + "<td align=\"center\" colspan=\"2\" width=\"400px\"><b><font size=\"4.0pt\" style='font-weight:bold;font-size:16px;'>KIỂM KHO</font></b> </br>"
                        + "<span style='font-size:14px;'></span><br/>"
                        + "</td>"
                        + "</tr>"
                        
                        + "<tr>"
                        + "<td colspan=\"2\" style='font-size:12px;'></td>"
                        + "</tr>"
                    + "</table>";//width=\"670px\"

    string footerStr = "<table class=\"rptprintBodyTable\" width=\"800\" style=\"background:#FFFFFF\">"
                        + "<tr>"
                        + "<td align=\"center\" colspan=\"2\" width=\"400px\"><b><font size=\"4.0pt\" style='font-weight:bold;font-size:16px;'>XIN CẢM ƠN QUÝ KHÁCH!</font></b> </br>"
                        + "<span style='font-size:14px;'> </span><br/>"
                        + "</td>"
                        + "</tr>"

                        + "<tr>"
                        + "<td align=\"center\" colspan=\"2\" width=\"400px\"><b><font size=\"4.0pt\" >&nbsp; </br>"
                        + "<span style='font-size:14px;'> </span><br/>"
                        + "</td>"
                        + "</tr>"
                    + "</table>";
    //Nhà sàn//Bờ Sông//Bè cá//Phòng lạnh//Nhà cổ
    public void ProcessRequest (HttpContext context) {
        //context.Response.ContentType = ResponseFormat

       

        string typeReport = gcUtility.GetNullString(context.Request.Form["typeReport"]);
        string t1 = gcUtility.GetNullString(context.Request.Form["obj[t1]"]);
        string t2 = gcUtility.GetNullString(context.Request.Form["obj[t2]"]);
        string HangHoa = gcUtility.GetNullString(context.Request.Form["obj[HangHoa]"]);
        string KhoId = gcUtility.GetNullString(context.Request.Form["obj[KhoId]"]);
        string Name = gcUtility.GetNullString(context.Request.Form["obj[Name]"]);
        _Id = gcUtility.GetNullString(context.Request.Form["obj[Id]"]);
        string _BranchId = gcUtility.GetNullString(context.Request.Form["obj[BranchId]"]);
        

        if (gcUtility.GetNullString(context.Session["zgc0Login_OK"])== "true")
        {
            //Session["gcCtyId"] = ctyId;
            //Session["gcBranchId"] = branchId;
            //Session["gcDepartmentId"] = departmentId;
            //Session["gcUserInfo"] = MaCanBoId;
            //Session["gcUserName"] = txtUsername.Value;
            //Session["gcUserNameSec"] = zgc0HelperSecurity.Encript(txtUsername.Value);
            //Session["gcAccountId"] = myData.Rows[0]["Id"].ToString();//Lay ID
            //Session["gcMaCanBoId"] = myData.Rows[0]["MaCanBoId"].ToString();// Lay ID
            //Session["zgc0Login_OK"] = "true";
            //Session["gcRightGroup"] = myData.Rows[0]["MaQuyenId"].ToString();// Lay nhóm quyền
            //Session["gczNewGroupRight"] = myData.Rows[0]["MaQuyenId"].ToString();// Lay nhóm quyền

            
            {

                string COMName = "";
                string COMTel = "";
                string COMAdd = "";
                string COMMobile = "";
                string MSHD = "";
                string Sql = "Select * from gcGobal_COMP_Branch ";
                if (HttpContext.Current.Session["gcBranchId"] != null)
                {
                    Sql = String.Format("Select * from gcGobal_COMP_Branch where id = {0}", HttpContext.Current.Session["gcBranchId"].ToString());
                    DataTable tb = zgc0HelperSecurity.GetDataTableNew(Sql, zgc0GlobalStr.getSqlStr());
                    if (tb.Rows.Count > 0)
                    {
                        COMName = tb.Rows[0]["NAME"].ToString().ToUpper();
                        COMName = COMName.Replace("-", "</br>");
                        COMTel = tb.Rows[0]["TEL"].ToString();
                        COMMobile = tb.Rows[0]["MOBILE"].ToString();
                        COMAdd = tb.Rows[0]["ADDRESS"].ToString();
                    }
                }
		
        //Sql = String.Format("Select * from gcGobal_STOCK_List where id = {0}", KhoId.ToString());
        //DataTable tb2 = zgc0HelperSecurity.GetDataTableNew(Sql, zgc0GlobalStr.getSqlStr());
        //if (tb2.Rows.Count > 0)
        //{
        //    string stockCode = tb2.Rows[0]["Code"].ToString().ToUpper();
                
        //}
		

                dhuDictionary Dict = new dhuDictionary();
                dhuConvertNumberToString NumberConvert = new dhuConvertNumberToString();

                string tempHead = String.Format(headerStr,                                
                                (String.Format("{0:dd/MM/yyyy hh:mm}", DateTime.Now)),
                                 COMName, COMTel, COMAdd );
                //----------------------------------------------------------

                string NhanVienIdHoTen = "THU NGÂN";


                string strWhere = "";
                string filter = "";
                t1 = t1 + " 0:00";
                t2 = t2 + " 23:59";
                if (strWhere == null || strWhere.Length <= 0)
                    strWhere = String.Format(" ( mToDay>=N'{0}' and mToDay<=N'{1}' )", t1, t2);
                else
                {
                    strWhere += String.Format(" AND ( mToDay>=N'{0}' and mToDay<=N'{1}' )", t1, t2);
                }

                if (_Id != null && _Id.Length > 0)
                {
                    if (strWhere == null || strWhere.Length <= 0)
                        strWhere = String.Format(" ( ProductId= {0})", _Id);
                    else
                    {
                        strWhere += String.Format(" AND ( ProductId= {0})", _Id);
                    }
                }

                if (Name != null && Name.Length > 0)
                {
                    if (strWhere == null || strWhere.Length <= 0)
                        strWhere = String.Format(" ( Name like N'%{0}%')", Name);
                    else
                    {
                        strWhere += String.Format(" AND ( Name like N'%{0}%')", Name);
                    }
                }

                strOrderBy = " order by mToDay ";

                bool bEmpty = false;
                double ThucThu = 0;
                double VAT = 0;
                double PhuThu = 0;
                double GiamGia = 0;
                string strTien = "";
                //double GiamGia = 0;


                Sql = String.Format("alter view gcGOBAL_ATUTO_CHECKSTOCK_V2014 as " +
                                    "select e.* , f.Name, g.Name as UName from (select case when c.mToDay is null then d.mToDay else c.mToday end as mToday, " +
                                    "case when c.ProductId is null then d.ProductId else c.ProductId end as ProductId, " +
                                    "case when c.UnitId is null then d.UnitId else c.UnitId end as UnitId, case " +
                                    "when c.K1SD is null then 0 else c.K1SD end as K1SD,  " +
                                    "case when c.K1ED is null then 0 else c.K1ED end as K1ED, " +
                                    "case when c.K2SD is null then 0 else c.K2SD end as K2SD, " +
                                    "case when c.K2ED is null then 0 else c.K2ED end as K2ED, " +
                                    "case when d.SD is null then 0 else d.SD end as K3SD,  " +
                                    "case when d.ED is null then 0 else d.ED end as K3ED,  " +
                                    "case when c.K1SD is null then 0 else c.K1SD end + " +
                                    "case when c.K2SD is null then 0 else c.K2SD end + " +
                                    "case when d.SD is null then 0 else d.SD end as K4SD, " +
                                    "case when c.K1ED is null then 0 else c.K1ED end + " +
                                    "case when c.K2ED is null then 0 else c.K2ED end + " +
                                    "case when d.ED is null then 0 else d.ED end as K4ED from " +
                                    "(select case when a.mToDay is null then b.mToDay else a.mToday end as mToday, " +
                                    "case when a.ProductId is null then b.ProductId else a.ProductId end as ProductId, " +
                                    "case when a.UnitId is null then b.UnitId else a.UnitId end as UnitId, " +
                                    "case when a.SD is null then 0 else a.SD end as K1SD, " +
                                    "case when a.ED is null then 0 else a.ED end as K1ED, " +
                                    "case when b.SD is null then 0 else b.SD end as K2SD, " +
                                    "case when b.ED is null then 0 else b.ED end as K2ED from  " +
                                    "(select mToDay, ProductId, UnitId, sd, ed from gcGobal_STOCK_gcStock_KPT_XEDAP_Today " +
                                    "where {0}) as a full join " +
                                    "(select mToDay, ProductId, UnitId, sd, ed from gcGobal_STOCK_gcStock_KC_Today " +
                                    "where {0}) as b on a.ProductId = b.ProductId and a.mToDay = b.mToDay) " +
                                    "as c full join (select mToDay, ProductId, UnitId, sd, ed from " +
                                    "gcGobal_STOCK_gcStock_KTong_Today where {0}) as d " +
                                    "on d.ProductId = c.ProductId and d.mToDay = c.mToDay) as e " +
                                    "join gcGobal_STOCK_gcProductList f on f.id = e.productid " +
                                    "join gcGobal_LITERAL_Unit g on g.id = e.unitid ", strWhere);
                zgc0HelperSecurity.ExecuteNonQuery(Sql, zgc0GlobalStr.getSqlStr());
                
                
                System.Text.StringBuilder sb = new System.Text.StringBuilder(tempHead+ 
                    BuildAReport(strWhere, strOrderBy, ref Number, ref ThucThu,
                                            ref PhuThu, ref GiamGia, ref VAT, bEmpty) + footerStr );
                context.Response.ContentType = "text/plain";
                context.Response.Write(sb.ToString());
            }

        }
        else
            context.Response.Write("Unknown.");
    }
 
    public bool IsReusable {
        get {
            return false;
        }
    }
    //Bàn//Thực thu//Giờ thu
    public string BuildAReport(string strWhere, string strOrderBy, ref double StrConvert, ref double OldThucThu,
        ref double OldPhuThu, ref double OldGiamGia, ref double VAT, bool bEmpty)
    {
        dhuConvertNumberToString NumberConvert = new dhuConvertNumberToString();

        string table = "";
        //-----------------------------------------------------------
        //Cài đặt báo cáo tự động
        //mMaxLevel số mức tối đa của cây
        gcRptTable tblReport = new gcRptTable();
        tblReport.strMainTable = "gcGOBAL_ATUTO_CHECKSTOCK_V2014";
        tblReport.bShowIndexRow = false;
        tblReport.mColMergForSubSumRow = 3;



        tblReport.mTypeBuild = "isSimple";
        tblReport.bShowSTT = true;
        tblReport.strOrderBy = strOrderBy;
        tblReport.server = zgc0GlobalStr.getSqlStr();
        tblReport.strWhere = strWhere;
        //add danh sách các vị trí cần group by
        //nếu không cần group by thì bỏ qua các cài đặt dưới đây
        tblReport.mArrPos = new int[1];
        tblReport.mArrPos[0] = 1;//1 ở đây là cột 1, cột 0 đã chứa số thứ tự không thì chúng ta sét cột 0 vào
        tblReport.mStrShowContent.Add("");//Tương ứng với 3 phần tử trên
        //tblReport.mArrPos[1] = 2;//1 ở đây là cột 1, cột 0 đã chứa số thứ tự không thì chúng ta sét cột 0 vào
        //tblReport.mStrShowContent.Add("");//Tương ứng với 3 phần tử trên
        //tblReport.mArrPos[2] = 3;//1 ở đây là cột 1, cột 0 đã chứa số thứ tự không thì chúng ta sét cột 0 vào
        //tblReport.mStrShowContent.Add("");//Tương ứng với 3 phần tử trên
        tblReport.bShowGroupBy = true;
        //tblReport.mMaxLevel = 2;
        tblReport.BuidlASimpleByDB(tblReport, "gcGOBAL_ATUTO_CHECKSTOCK_V2014", "zgcBUILDIN_CONFIG_REPORT_DETAIL", "5091401");
        tblReport.InitTable();
        tblReport.mArrArgSumary = new System.Collections.Generic.List<int>();
        for (int t = 0; t < tblReport.cCols; t++)
            tblReport.mArrArgSumary.Add(0);
        //tblReport.mArrArgSumary[3] = 1;
        //tblReport.mArrArgSumary[4] = 1;
        //tblReport.mArrArgSumary[5] = 1;
        //tblReport.mArrArgSumary[6] = 1;
        //tblReport.mArrArgSumary[7] = 1;
        //tblReport.mArrArgSumary[8] = 1;
        //tblReport.mArrArgSumary[9] = 1;
        //tblReport.mArrArgSumary[10] = 1;
        //tblReport.mArrArgSumary[7] = 1;
        //tblReport.mArrArgSumary[12] = 1;
        //-----------------------------------------------------------
        //BuilSampleTree(tblReport.root, tblReport);
        //-----------------------------------------------------------
        tblReport.MakeGobalRowForTesting();
        tblReport.FillData();

        //---------------------------------------------------
        //if (LoaiKhachId == "1") 
        //    for (int i = 0; i < tblReport.cCols; i++)
        //    {
        //        for (int j = 0; j < tblReport.mData.Count; j++)
        //        {
        //            if (i == 1 || i == 5 | i == 6)
        //                tblReport.mData[j][i] = "0";
        //            if (i == 1)
        //                tblReport.mData[j][i] = "";
        //        }
        //    }
        //--------------------------------------------------

       
        
        //------------------------------------------------------------
        //double sum = 0, sum1 = 0, sum2 = 0, sum3 = 0, sum4 = 0;

        //for (int i = 4; i < 5; i++)
        //{
        //    for (int j = 0; j < tblReport.mData.Count; j++)
        //    {
        //        string value = (string)tblReport.mData[j][i];
        //        value.Trim();
        //        if (value != string.Empty)
        //        {
        //            sum1 += double.Parse((string)value);
        //        }
        //    }
        //    tblReport.RowSumGobal.mValue[i] = sum1.ToString();

        //}
        //for (int i = 5; i < 6; i++)
        //{
        //    for (int j = 0; j < tblReport.mData.Count; j++)
        //    {
        //        string value = (string)tblReport.mData[j][i];
        //        value.Trim();
        //        if (value != string.Empty)
        //        {
        //            sum2 += double.Parse((string)value);
        //        }
        //    }
        //    //tblReport.RowSumGobal.mValue[i] = sum2.ToString();

        //}
        //for (int i = 6; i < 7; i++)
        //{
        //    for (int j = 0; j < tblReport.mData.Count; j++)
        //    {
        //        string value = (string)tblReport.mData[j][i];
        //        value.Trim();
        //        if (value != string.Empty)
        //        {
        //            sum3 += double.Parse((string)value);
        //        }
        //    }
        //    //tblReport.RowSumGobal.mValue[i] = sum3.ToString();

        //}
        //for (int i = 7; i < 8; i++)
        //{
        //    for (int j = 0; j < tblReport.mData.Count; j++)
        //    {
        //        string value = (string)tblReport.mData[j][i];
        //        value.Trim();
        //        if (value != string.Empty)
        //        {
        //            sum += double.Parse((string)value);
        //        }
        //    }
        //    //tblReport.RowSumGobal.mValue[i] = sum.ToString();

        //}

        ////Tong theo nhom và định dạng
        ////if (tblReport.mListItem.Count > 0)
        ////{
        ////    for (int m = 0; m < tblReport.mListItem.Count; m++)
        ////    {
        ////        gcRptItem Item = tblReport.mListItem[m];
        ////        Item.strShowName = "<b>Cộng </b>";
        ////        Item.strContent = "Mặt hàng " + tblReport.mData[Item.from][1];


        ////        double Tem3 = 0;//, temp4 = 0;
        ////        for (int j = 4; j < 5; j++)
        ////        {
        ////            for (int i = Item.from; i < Item.to; i++)
        ////            {
        ////                string a5 = (string)tblReport.mData[i][j];
        ////                Tem3 += double.Parse((a5.Length < 1) ? "0" : a5);
        ////                Item.mValue[j] = Tem3.ToString();
        ////            }
        ////            Tem3 = 0;
        ////        }
        ////        Item.cssClass = "dhu_rpt_TextRight";
        ////    }
        ////}

        tblReport.RowSumGobal.cssClass = "dhu_rpt_TextRight";


        ////Xuất dữ liệu

    //    for (int t = 0; t < tblReport.cCols; t++)
    //    {
    //        tblReport.mArrRightStyle.Add(0);
    //        tblReport.mArrRightStyleCss.Add("");
    //    }
        

    //    double valuept = 0;


    //    double valueg = 0;

    //    double VATg = 0;
    //    if (VAT > 0)
    //    {
    //        VATg = sum * VAT / 100;
    //        gcRptTailItem item = new gcRptTailItem();
    //        item.ColSpan = tblReport.cCols - 2;
    //        item.cssValueClass = "dhu_rpt_TextRight";
    //        item.strFormName = "Tiền thuế GTGT (VAT)" + VAT + "%";
    //        item.Value = String.Format("{0:N0}", VATg);
    //        tblReport.mListTailItem.Add(item);
    //    }
    //    valuept = 0;
    //    if (OldPhuThu > 0)
    //    {

    //        valuept = OldPhuThu;
    //        gcRptTailItem itemg = new gcRptTailItem();
    //        itemg.ColSpan = tblReport.cCols - 1;
    //        itemg.cssValueClass = "dhu_rpt_TextRight";
    //        itemg.strFormName = "Phụ thu (Tiền dịch vụ)";
    //        itemg.Value = String.Format("{0:N0}", (valuept));
    //        tblReport.mListTailItem.Add(itemg);
    //    }
    //    if (OldGiamGia > 0)
    //    {

    //        if (OldGiamGia > 0 && OldGiamGia < 100.0)
    //            valueg = OldGiamGia * sum / 100.0;
    //        else
    //            valueg = OldGiamGia;
    //        gcRptTailItem itemg = new gcRptTailItem();
    //        itemg.ColSpan = tblReport.cCols - 1;
    //        itemg.cssValueClass = "dhu_rpt_TextRight";
    //        itemg.strFormName = "Giảm giá (Discount)";
    //        if (OldGiamGia > 0 && OldGiamGia < 100.0)
    //            itemg.strFormName = "Giảm giá (Discount) " + OldGiamGia + "%";
    //        itemg.Value = String.Format("{0:N0}", (valueg));
    //        tblReport.mListTailItem.Add(itemg);
    //    }

    //    gcRptTailItem item2 = new gcRptTailItem();
    //    item2.cssValueClass = "dhu_rpt_TextRightBold";
    //    item2.ColSpan = tblReport.cCols - 1;
    //    item2.strFormName = "Tổng cộng tiền thanh toán";
    //    item2.Value = String.Format("{0:N0}", (sum + valuept - valueg + VATg));

    //if (OldPhuThu > 0 || OldGiamGia > 0)
    //        tblReport.mListTailItem.Add(item2);
	
    //double tienphaithu =sum + valuept - valueg + VATg;


    ////dhuConvertNumberToString NumberConvert = new dhuConvertNumberToString();
    //string tientthu = dhuConvertNumberToString.Convert(tienphaithu);	
    ////In tien ra cho khach
    //gcRptTailItem TitemTien = new gcRptTailItem();
    //    TitemTien.cssValueClass = "dhu_rpt_TextRightBold";
    //    TitemTien.ColSpan = tblReport.cCols;
    //    TitemTien.strFormName = "<span style='font-style:italic; font-weight:bold;'>"+tientthu +"./</span>";
    //    TitemTien.Value = "";
    //    tblReport.mListTailItem.Add(TitemTien );

    //    OldThucThu = (sum + valuept - valueg + VATg);
    //    //for (int i = 3; i < 4; i++)
    //    //{
    //    //    tblReport.mArrRightStyle[i] = 1;
    //    //    tblReport.mArrRightStyleCss[i] = "dhu_rpt_TextCenter";
    //    //}
        

    //    tblReport.mArrRightStyle[3] = 1; ;
    //    tblReport.mArrRightStyleCss[2] = "dhu_rpt_TextLeft";

    //    tblReport.mArrRightStyle[1] = 1; ;
    //    tblReport.mArrRightStyleCss[1] = "dhu_rpt_TextLeft";

    //tblReport.mArrRightStyle[5] = 1; ;
    //    tblReport.mArrRightStyleCss[5] = "dhu_rpt_TextCenterBgrNew";

    //tblReport.mArrRightStyle[7] = 1; ;
    //    tblReport.mArrRightStyleCss[7] = "dhu_rpt_TextCenterBgr";

    //tblReport.mArrRightStyle[8] = 1; ;
    //    tblReport.mArrRightStyleCss[8] = "dhu_rpt_TextCenterBgrCAM";


    //tblReport.mArrRightStyle[10] = 1; ;
    //    tblReport.mArrRightStyleCss[10] = "dhu_rpt_TextCenterBgrXANHLOLA";
    //    tblReport.mArrRightStyle[4] = 1; ;
    //    tblReport.mArrRightStyleCss[4] = "dhu_rpt_TextRight";
    //    tblReport.mArrRightStyle[5] = 1; ;
    //    tblReport.mArrRightStyleCss[5] = "dhu_rpt_TextRightBgrNew";
    //    tblReport.mArrRightStyle[6] = 1; ;
    //    tblReport.mArrRightStyleCss[6] = "dhu_rpt_TextRight";
    //    tblReport.mArrRightStyle[7] = 1; ;
    //    tblReport.mArrRightStyleCss[7] = "dhu_rpt_TextRightBgr";
    //    tblReport.mArrRightStyle[8] = 1; ;
    //    tblReport.mArrRightStyleCss[8] = "dhu_rpt_TextRightBgrCAM";
    //    tblReport.mArrRightStyle[9] = 1; ;
    //    tblReport.mArrRightStyleCss[9] = "dhu_rpt_TextRight";
    //    tblReport.mArrRightStyle[10] = 1; ;
    //    tblReport.mArrRightStyleCss[10] = "dhu_rpt_TextRightBgrXANHLOLA";
    //    tblReport.mArrRightStyle[11] = 1; ;
    //    tblReport.mArrRightStyleCss[11] = "dhu_rpt_TextRight";
    //    tblReport.mArrRightStyle[12] = 1; ;
    //    tblReport.mArrRightStyleCss[12] = "dhu_rpt_TextRight";
    //    tblReport.mArrRightStyle[13] = 1; ;
    //    tblReport.mArrRightStyleCss[13] = "dhu_rpt_TextRight";
    //    tblReport.mArrRightStyle[14] = 1; ;
    //    tblReport.mArrRightStyleCss[14] = "dhu_rpt_TextRightBgrXANHLO";




        //tblReport.mArrRightStyle[14] = 1; ;
        //    tblReport.mArrRightStyleCss[14] = "dhu_rpt_TextCenterBgrXANHLO";

        tblReport.RowSumGobal.cssClass = "dhu_rpt_TextRightBold";
        tblReport.RowSumGobal.cssValueClass = "dhu_rpt_TextRightBold";
        //Xuất dữ liệu
        //
        table = tblReport.MakeSimpleTable();
        return table;
    }

}