﻿.exampleWrapper
{
    width: 739px;
    height: 600px;
    background: transparent url(../Img/background.gif) no-repeat top left;
    position: relative;
}
.tabStrip
{
    position:absolute;
    top:47px;
    left:0px;
}
.multiPage
{
    position:absolute;
    top:100px;
    left:0px;
    color: white;
}

