/* sitefinity.com global stylesheet */
*{margin:0;padding:0;font-size:1em}
body.global{margin:0;padding:0;font:13px/1.4 arial,sans-serif;color:#222;background:url('images/bg-body.jpg') repeat-x}
img{border:0}
a:link,a:visited,a:hover,a:active{color:#0575cc;text-decoration:none;outline:none}
a:hover{text-decoration:underline}
a:visited{color:#145880}
a:active,a:focus{color:#cc0000}
hr{width:100%;height:1px;float:left;clear:both;background-color:#e5e4e4;border:0;border-color:#e5e4e4;color:#e5e4e4}
address{font-style:normal}
sup{font-size:10px}
/*Floats*/.sTop:after,.sContent:after,.sBottom:after,.sClear:after{content:"";display:block;clear:both;height:0;visibility:hidden}
.sTop,.sContent,.sBottom,.sClear{display:inline-block}
.sTop,.sContent,.sBottom,.sClear{display:block}
.sClearer{width:100%;float:left;clear:both}
.sInlineBlock,.sFormAddDeveloper .fFieldErrorMsg strong.sInlineBlock
{display:-moz-inline-stack;display:inline-block;zoom:1;display:inline}
/* content boxes */.sContentWrap{padding:0;width:984px;margin:0 auto;clear:both}
.sContentWrapInner{padding:0 24px 0;clear:both;width:936px;float:left;position:relative}
.sWrapAll{width:984px;margin:0 auto;background:#fff url('images/bg-content.jpg') no-repeat top center}
.external .sWrapAll{background-image:url('images/bg-content-external.jpg')}
.sTopWrap{width:984px;margin:0 auto;height:144px}
.external .sTopWrap{height:72px}
.sTopWrap .sInnerWrap{height:68px}
.sitefinityCMS{overflow:hidden;position:relative;text-indent:-99999px;float:left;height:68px;width:190px;outline:none}
.TopNavigation{padding:5px 0 5px 4px;color:#fff}
.TopNavigation:after{content:".";display:block;height:0;clear:both;visibility:hidden}.TopNavigation{display:inline-block}
/* Hides from IE-mac \*/* html .TopNavigation{height:1%}.TopNavigation{display:block}
/* End hide from IE-mac */.TopNavigation a{color:#fff;text-decoration:none}.sContentWrap{font:13px/20px arial,sans-serif;color:#222}
.sContentWrap h1,.sContentWrap h2,.sContentWrap h3{color:#333}
.sContentWrap h1{margin:24px 0 18px;font-size:22px;font-weight:normal;line-height:1.2}
.sContentWrap h2{margin:24px 0 13px;font-size:18px;font-weight:normal}
.sContentWrap h3{margin:1.2em 0 7px;font-size:16px;font-weight:bold}
.sContentWrap ul,.sContentWrap ol{list-style-type:none;margin-bottom:5px}
/* Rich Text Format */.sContentWrap .sRTF ul{list-style-type:none}
.sContentWrap .sRTF ul li{background:url(images/bullet.gif) no-repeat 9px 7px;padding-left:24px}
.sContentWrap .sRTF ol li,
.sKBArticleContent ol li{list-style-position:outside;list-style-type:decimal;margin-left:25px}
.sContentWrap .sRTF dt{font-weight:bold}
.sContentWrap .sRTF dd{padding-left:24px;background:transparent url(images/bullet.gif) no-repeat scroll 9px 7px}
.sContentWrap p{margin:0 0 17px}.sContentWrap .sRTF ul.arrowsList{list-style-type:none;padding-left:0}
.sContentWrap .sRTF ul.arrowsList li{padding-left:18px;background:url('images/sArrowReadMore.gif') no-repeat 0 6px}
.sContentWrap .sRTF ul.distaniced{margin-bottom:18px}
/* Pages Bottom Boxes */.sBottomWrap{width:936px;background:url('images/footerTop.gif') no-repeat;padding-top:5px;margin:24px}
.sBottomWrapInner{width:894px;margin:0 auto;padding:20px 20px 10px;color:#222;font-size:11px;line-height:16px;background:#f3f5f5;clear:both;border:solid #ccc 1px;border-top:0;border-bottom:0;position:relative}
.sBottomOval{width:936px;background:url('images/footerBottom.gif') no-repeat;padding-top:5px}
.sBottomWrap h3{margin:0 0 10px;font-size:14px;font-weight:normal}
.sAboutCompany{padding-bottom:10px;border-bottom:1px solid #d5d5d5}
.sAboutLinks{padding-top:10px;border-top:1px solid #fff;color:#c9caca}
.sBottomWrap .sCopyRights{clear:both;padding:3px 0 8px;color:#737d80}
.sBottomWrap .sCopyRights .poweredby{position:absolute;bottom:20px;right:40px;background:url('images/powered-by.gif') no-repeat 0 2px;width:61px;height:29px;text-indent:-9999px;overflow:hidden}
.sBottomWrapInner a:link,
.sBottomWrapInner a:visited,
.sBottomWrapInner a:hover,
.sBottomWrapInner a:active{color:#222 !important;text-decoration:underline !important}
.sBottomWrapInner a:hover{text-decoration:none !important}
.sBottomWrapInner a.sTLink:link,
.sBottomWrapInner a.sTLink:visited,
.sBottomWrapInner a.sTLink:hover,
.sBottomWrapInner a.sTLink:active{text-decoration:none !important}
/* RadMenu Plain skin */.RadMenu_SitefinityCom2009{float:left;white-space:nowrap;font-size:15px}
.RadMenu_SitefinityCom2009 ul.rmActive,.RadMenu_SitefinityCom2009 ul.rmRootGroup{display:block}
.RadMenu_SitefinityCom2009 .rmRootGroup{display:inline-block;left:0;margin:0;padding:0}
.RadMenu_SitefinityCom2009 .rmHorizontal .rmItem{clear:none;padding-top:3px;padding-bottom:3px}
.RadMenu_SitefinityCom2009 .rmItem{padding:0}
.RadMenu_SitefinityCom2009 .rmItem{float:left;list-style-image:none;list-style-position:outside;list-style-type:none}
.RadMenu_SitefinityCom2009 a.rmLink{cursor:default;display:block}
.RadMenu_SitefinityCom2009 .rmLink:visited{color:#fff}
.RadMenu_SitefinityCom2009 .sNavSelected{background:url('images/navSelectedBg.gif');background-position:0 0;padding-left:2px}
.RadMenu_SitefinityCom2009 .sNavSelected span.rmText{color:#fbf86d;background:url('images/navSelectedBg.gif');background-position:100% -32px}
.RadMenu_SitefinityCom2009 .rmHorizontal .rmText{padding:3px 12px 1px 12px;height:24px;display:block}
.RadMenu_SitefinityCom2009{padding:0}
.RadMenu_SitefinityCom2009 a.rmLink{cursor:pointer}
.RadMenu_SitefinityCom2009 a.rmLink{color:#fff;padding-left:2px}
.RadMenu_SitefinityCom2009 .rmLink:hover{color:#fff;background:url('images/navSelectedBg.gif');background-position:0 -65px;padding-left:2px;text-decoration:none}
.RadMenu_SitefinityCom2009 .rmLink:hover .rmText{color:#fff;background:url('images/navSelectedBg.gif');background-position:100% -97px}.RadMenu_SitefinityCom2009 .rmFocused{color:#fff;background:url('images/navSelectedBg.gif');background-position:0 -130px;padding-left:2px}
.RadMenu_SitefinityCom2009 .rmFocused .rmText{color:#fff;background:url('images/navSelectedBg.gif');background-position:100% -162px}
/* Last Item */.RadMenu_SitefinityCom2009 .rmLast .sNavSelected{background:url('images/bu-button.gif');background-position:0 -40px;padding-left:0px;display:block;width:232px}
.RadMenu_SitefinityCom2009 .rmLast .sNavSelected span.rmText{color:#fbf86d;background:url('images/bu-button.gif');background-position:0 -42px}*html .RadMenu_SitefinityCom2009 .rmLast .sNavSelected span.rmText{height:30px;background-position:0 -40px}
*html .RadMenu_SitefinityCom2009 .rmLast span.rmText{padding-top:6px}
.RadMenu_SitefinityCom2009 .rmLast .rmFocused{color:#fff;background:url('images/bu-button.gif');background-position:0 -40px;padding-left:0px}
.RadMenu_SitefinityCom2009 .rmLast .rmFocused .rmText{color:#fff;background:url('images/bu-button.gif');background-position:0 -42px}.RadMenu_SitefinityCom2009 .rmLast{margin-left:178px;padding-top:0 !important;padding-bottom:0 !important}
.RadMenu_SitefinityCom2009 .rmLast .rmText{padding-left:50px;padding-right:0}
.RadMenu_SitefinityCom2009 .rmLast:hover{color:#fff;background:url('images/bu-button.gif') no-repeat !important;background-position:0 0 !important;padding-left:0 !important;text-decoration:none}
.RadMenu_SitefinityCom2009 a.sTopBUsers:hover{padding-left:0;background:url('images/bu-button.gif') no-repeat !important;background-position:0 0 !important}.RadMenu_SitefinityCom2009 a.sTopBUsers:hover .rmText{color:#fff;background:url('images/bu-button.gif') no-repeat 0 -2px !important;background-position:0 -2px !important}
*html .RadMenu_SitefinityCom2009 a.sTopBUsers:hover .rmText{background-position:0 0 !important}
.RadMenu_SitefinityCom2009 a.sTopBUsers{padding-left:0;padding-top:3px;padding-bottom:3px;display:block;width:232px}
*html .sTopBUsers{display:inline !important}
/*One column*/.sOneColumn{clear:both;width:936px;margin:0 0 36px 0}
.sTwoColumnsLeft .sOneColumn{width:612px}
/*Two equal columns*/.sTwoEqualColumnsLeft,.sTwoEqualColumnsRight{width:450px;margin:0 0 36px 0}
.sTwoColumnsLeft .sTwoEqualColumnsLeft,.sTwoColumnsLeft .sTwoEqualColumnsRight{width:288px}
.sTwoEqualColumnsLeft{float:left;margin-right:36px}.sTwoEqualColumnsRight{float:right}
/*Two columns version 2 */.sTwoColumnsV2Left,.sTwoColumnsV2Right{margin:0 0 36px 0}
.sTwoColumnsV2Left{float:left;width:693px;margin-right:36px}
.sTwoColumnsV2Right{float:right;width:207px}*html .sTwoColumnsV2Left{width:692px}
/*Two columns*/.sTwoColumnsLeft,.sTwoColumnsRight{margin:0 0 36px 0}
.sTwoColumnsLeft{float:left;width:612px;margin-right:36px}
.sTwoColumnsRight{float:right;width:288px}
/*Three equal columns*/.sThreeColumnsLeftCenter,.sThreeColumnsRight{margin:0 0 36px 0;width:288px}
.sThreeColumnsLeftCenter{float:left;margin-right:36px}.sThreeColumnsRight{float:right}
/*Four equal columns*/.sFourColumnsLeftCenter,.sFourColumnsRight{margin:0 0 36px 0;width:207px}
.sFourColumnsLeftCenter{float:left;margin-right:36px}.sFourColumnsRight{float:right}
/*Login,Logout box */.sLoginName{float:right;width:300px;text-align:right;color:#acb9bf;font-size:11px;margin-top:30px;position:relative}
.sLoginName a{color:#80d8ea !important;font-size:11px}
.sLoginButtonLink,.sLogoutButtonLink{background:none;border:0;color:#80d8ea;cursor:pointer;font-weight:normal;font-size:11px}
.sSignUpLink{display:inline}.sLoginStatus{display:inline}
.sWhyRegisterExplanation{font-size:12px;line-height:18px;position:absolute;right:0;text-align:left;top:20px;width:254px;z-index:8000;background:#fff none repeat scroll 0 0;border:1px solid #ccc}
.sWhyRegisterExplanation strong{display:block;color:#333;
/* missing image -- background:transparent url(whyRegisterTop.png) no-repeat 0 0;*/padding:10px 10px 0}
	.sWhyRegisterExplanation ul{padding:0 23px 23px;
/* missing image -- background:transparent url(whyRegisterBottom.png) no-repeat 0 100%;*/}
.sWhyRegisterExplanation .closeWhyRegisterExplanation{position:absolute;top:5px;right:5px;display:block;width:11px;height:11px;text-indent:-9999px;outline:0;background:transparent url(images/closeXBtn.gif) no-repeat 0 0}
/* Success and Failure Messages */.sContentWrapInner .sSuccess,.sContentWrapInner .sFailure,.sContentWrapInner .sWarning{line-height:1.4}
.sContentWrapInner .sEmphasized,.sContentWrapInner .sEmphasized,.sContentWrapInner .sEmphasized{line-height:14px}
.sContentWrapInner .sInstructions{font-weight:normal;color:#666}.sContentWrapInner .sWarning label{padding-left:5px}
.sContentWrapInner .sWarning .sIndentedMessage{padding-left:18px}
.sContentWrapInner .sSuccess{display:block;margin:20px 0 0;padding:20px 20px 20px 50px;font-weight:bold;background:#efffe5 url(images/msgs.gif) no-repeat 10px 20px;color:#690;clear:both}
.sContentWrapInner .sSuccess h2{margin-top:0;color:#690}
.sContentWrapInner .sSuccess .sAdditional{font-weight:normal;color:#333}
.sContentWrapInner .sFailure{display:block;margin:20px 0 0;padding:20px 20px 20px 60px;font-weight:bold;background:#ffebe5 url(images/msgs.gif) no-repeat -940px 20px;color:#bf3b24 !important}
.sContentWrapInner .sFailure ul{margin:0 0 0 20px;font-weight:normal;color:#bf3b24}
.sContentWrapInner .sFailure li{padding-left:0;background:none;list-style-type:disc;list-style-position:outside}
.sContentWrapInner .sWarning{display:block;margin:20px 0 0;padding:20px 20px 20px 60px;background:#e5f7ff url(images/msgs.gif) no-repeat -1890px 10px;/*color:#2d7baa;*/}
.sContentWrapInner .sWarning p{font-weight:normal;color:#666}.sContentWrapInner .sSuccess p,.sContentWrapInner .sFailure p{margin-top:0;margin-bottom:1em}.sContentWrapInner .sWarning p{margin:0}
.sContentWrapInner .sSuccess .sEmphasized,.sContentWrapInner .sFailure .sEmphasized,.sContentWrapInner .sWarning .sEmphasized{font-size:14px}.sContentWrapInner .sWarning label{padding-left:5px}
.sContentWrapInner .sWarning .sIndentedMessage{padding-left:18px}.sContentWrapInner .sWarning .sIndentedMessage .sFadingMsg{padding:1px 5px}.sSuggestions{margin:17px 0;padding:17px;background-color:#e8f3d2}
.sContentWrapInner .sSuggestions p,.sContentWrapInner .sSuggestions ul{margin-top:0}.sContentWrapInner .sSuggestions li{padding-left:0;background-image:none}.sContentWrapInner .sImportantInfo,.sContentWrapInner .sImportantInfo strong{font-weight:normal}
.sContentWrapInner .sImportantInfo strong{font-size:18px}
.sContentWrap .sHaveQuestion{margin:14px 17px;padding:2px 0 2px 35px;background:transparent url(images/msgs.gif) no-repeat -2850px 0}/*breadcrumbs*/.sCrumbs{padding:39px 33px 0}.sCrumbs a{color:#fff;text-decoration:none}
.sCrumbs a:hover{text-decoration:underline}
.sBreadcrumb{display:block;padding:13px 34px 0;background-color:#fff;color:#666;font-size:11px}
.sBreadcrumb{margin:0;padding:13px 0 13px 0;width:100%;float:left;clear:both}.sBreadcrumb span{float:left}
.sBreadcrumb a:link,.sBreadcrumb a:visited,.sBreadcrumb a:hover,.sBreadcrumb a:active{color:#000;text-decoration:underline}.sBreadcrumb a:hover{text-decoration:none}.sBreadCrumbSeparator{width:4px;height:7px;margin:6px 4px 0;text-indent:-99999px;overflow:hidden;display:block;background:transparent url(images/breadcrumbSeparator.gif) no-repeat 0 2px}/* Common Grey text style 11px */span.sInfo{color:#737d80;font-weight:normal;font-size:11px !important;line-height:1.3}/* Separator */.sSeparator{background:#ccc;height:1px;clear:both}.sInlineH2{position:relative}.sInlineH2 a{position:absolute;right:0;top:0;background:transparent url(images/sArrowReadMore.gif) no-repeat 100% 6px;padding-right:15px}a.arrowReadMore{background:transparent url(images/sArrowReadMore.gif) no-repeat 100% 5px;padding-right:15px}/* Service partners */.sContentWrapTopInner{background:#ebf0f2 url('images/scBg.gif') repeat-x 0 0;border-bottom:1px solid #B8C4CD;margin-top:5px;float:left;width:984px}.sContentWrapTopInner h1,.sContentWrapTopInner h2,.sContentWrapTopInner .sHeaderLabel,.scInnerTop .sHeaderLabel{margin-left:24px}.sContentWrapTopInner h1,.scInnerTop h1{margin-bottom:0px}.scInnerTop h1{margin-top:29px}.sContentWrapTopInner .sHeaderLabel,.scInnerTop .sHeaderLabel{color:#737d80}.sContentWrapTopInner .poIndustryList{background:#ebf0f2;border-bottom:0}.sSetTopMargin{margin-top:24px}/* blue rounded box */.sRoundBox{margin-bottom:36px;position:relative;background-color:#ecf9fc;border:1px solid #d2e4ee}.sTwoColumnsLeft .sRoundBox .sTwoEqualColumnsLeft,.sTwoColumnsLeft .sRoundBox .sTwoEqualColumnsRight{width:286px}.sRound{}.sBoxTopLeft,.sBoxTopRight,.sBoxBottomLeft,.sBoxBottomRight{position:absolute;width:5px;height:5px;background:transparent url(images/blue-box.gif) no-repeat 0 0;_display:none}.sBoxTopLeft{top:-1px;left:-1px}.sBoxTopRight{top:-1px;right:-1px;background-position:-5px 0}.sBoxBottomLeft{bottom:-1px;left:-1px;background-position:0 -5px}.sBoxBottomRight{bottom:-1px;right:-1px;background-position:-5px -5px}/* White BG */.sWhiteBox{background-color:#fff;border:3px solid #cfe2ed}.sWhiteBox .sBoxTopLeft{top:-3px;left:-3px;background-position:-10px 0}.sWhiteBox .sBoxTopRight{top:-3px;right:-3px;background-position:-15px 0}.sWhiteBox .sBoxBottomLeft{bottom:-3px;left:-3px;background-position:-10px -5px}.sWhiteBox .sBoxBottomRight{bottom:-3px;right:-3px;background-position:-15px -5px}/* end blue rounded box *//* White BG with thin Lines*/.sWhiteBoxThin{background-color:#fff;border:1px solid #cfe2ed}.sWhiteBoxThin .sBoxTopLeft{top:-1px;left:-1px;background-position:-20px 0}.sWhiteBoxThin .sBoxTopRight{top:-1px;right:-1px;background-position:-25px 0}.sWhiteBoxThin .sBoxBottomLeft{bottom:-1px;left:-1px;background-position:-20px -5px}.sWhiteBoxThin .sBoxBottomRight{bottom:-1px;right:-1px;background-position:-25px -5px}/* end blue rounded box *//* File extensions */.maMyAvailableFilesForDownload a,.forumsPostAttachedFiles a{padding-left:25px;padding-bottom:3px;background-image:url(images/extensions.gif);background-color:transparent;background-repeat:no-repeat}.maMyAvailableFilesForDownload .msi,.forumsPostAttachedFiles .msi{background-position:0 0}.maMyAvailableFilesForDownload .msi{font-size:1.2em;font-weight:bold}.maMyAvailableFilesForDownload .zip,.forumsPostAttachedFiles .zip,.maMyAvailableFilesForDownload .ace,.forumsPostAttachedFiles .ace{background-position:0 -100px}.maMyAvailableFilesForDownload .chm,.forumsPostAttachedFiles .chm{background-position:0 -200px}.maMyAvailableFilesForDownload .pdf,.forumsPostAttachedFiles .pdf{background-position:0 -300px}.maMyAvailableFilesForDownload .rar,.forumsPostAttachedFiles .rar{background-position:0 -400px}.maMyAvailableFilesForDownload .gif,.forumsPostAttachedFiles .gif,.maMyAvailableFilesForDownload .png,.forumsPostAttachedFiles .png{background-position:0 -500px}.maMyAvailableFilesForDownload .jpg,.forumsPostAttachedFiles .jpg{background-position:0 -600px}.maMyAvailableFilesForDownload .css,.forumsPostAttachedFiles .css{background-position:0 -700px}/* EndOf File extensions *//* btn Stretched */a.btnStretch{display:block;background:transparent url(images/longBtn.gif) no-repeat top right;height:27px;float:left;padding:0 13px 0 0}a.btnStretch:hover{background-position:bottom right;text-decoration:none;color:#fff}a.btnStretch span{display:block;background:transparent url(images/longBtn.gif) no-repeat 0 -48px;height:27px;font-size:12px;line-height:24px;color:#fff;text-align:left;float:left;padding:0 7px 0 28px;cursor:pointer}a.btnStretch:hover span{background-position:0 -96px;text-decoration:none;color:#fff}/* Big Stretch Btn (Launch) */a.btnStretchBig{display:block;background:transparent url(images/bigLongBtn.gif) no-repeat 100% 0;height:45px;float:left;padding:0 10px 0 0;font-size:18px;font-weight:bold}a.btnStretchBig:hover{background-position:100% 100%;text-decoration:none;color:#fff}a.btnStretchBig span{display:block;background:transparent url(images/bigLongBtn.gif) no-repeat 0 -55px;height:45px;line-height:43px;color:#fff;text-align:left;float:left;padding:0 14px 0 24px;cursor:pointer}a.btnStretchBig:hover span{background-position:0 -110px;text-decoration:none;color:#fff}/* Tables */.sTable,.tableStyle1{margin-bottom:24px;border-collapse:collapse;width:100%}.tableStyle1{width:auto;line-height:1.1}.tableStyle1 p{margin:0;padding:0}.sTable th,.sTable td,.tableStyle1 th,.tableStyle1 td{padding:5px 17px;text-align:left;vertical-align:top}.sTable thead th,.tableStyle1 thead th,.tableStyle1 .tableStyle1Header td{border-bottom:2px solid #666}.sTable tbody th,.sTable tbody td,.tableStyle1 tbody th,.tableStyle1 tbody td{border-bottom:1px solid #D9D9D9;font-weight:normal}.sTable .sIE,.sTable .sNetscape,.sTable .sFirefox,.sTable .sMozilla,.sTable .sOpera,.sTable .sSafari{padding-left:45px;background:transparent url(images/browsers.gif) no-repeat 17px 5px}.sTable .sNetscape{background-position:17px -495px}.sTable .sFirefox{background-position:17px -95px}.sTable .sMozilla{background-position:17px -595px}.sTable .sOpera{background-position:17px -295px}.sTable .sSafari{background-position:17px -395px}.sTable span.sYes,.sTable span.sNo{background:transparent url(images/yes-no.gif) no-repeat 0 3px;position:relative;overflow:hidden;text-indent:-9999px;display:block}.sTable span.sNo{background-position:0 -35px !important}/* FAQs */.sFAQList h3{clear:both}.sFAQList h3{margin-top:5px;font-weight:normal}.sFAQList h3 em{text-indent:-9999px;display:block;float:left}.sFAQList li h3{padding-left:15px;background:transparent url(images/faqArrows.gif) no-repeat 0 5px}.sFAQList li h3 a{font-size:13px}.sFAQList li h3 a:active,.sFAQList li h3 a:focus{color:#0575CC !important}.sFAQList li h3.exp{background-position:-980px 5px !important;font-weight:bold}.sFAQList .sFAQContent{padding-bottom:15px;padding:0 15px 15px;line-height:18px}.sFAQList .sFAQContent ul{margin-left:30px}.sFAQList .sFAQContent ul li{background:none;list-style-type:disc;padding-left:0}.sFAQTitle{display:block;float:left;width:100%}.sFAQTitle strong{display:block;float:left;font-weight:normal}.sFAQTitle span{font-size:11px;display:block;float:left;padding:2px 0 0 10px}.tFormatCodeBlock{overflow-x:scroll !important;overflow-y:hidden !important;padding:20px 10px}*html .tFormatCodeBlock{overflow:auto !important;width:560px}a.sRSSFeed{background:url('images/rss.gif') no-repeat 100% 0;padding:0 20px 4px 0;font-size:11px}.sTwoColumnsV2Right a.sRSSFeed,.sTwoColumnsRight a.sRSSFeed{margin-top:30px}/* List Anchors Arrows */.sAnchorList li{padding-bottom:5px}.sListContent{border-bottom:1px solid #E5E5E5;overflow:hidden;padding-bottom:18px}.sAnchorListArrowTop{background:transparent url(images/features.gif) no-repeat scroll 0 -68px;float:right;padding-left:12px;padding-top:26px}.sAnchorListArrow{background:transparent url(images/features.gif) no-repeat scroll 0 4px;padding-left:15px}a.sExt{background:transparent url(images/ext.gif) no-repeat scroll 100% 3px;padding-right:15px}a.hlCommonRSSFeedHidden{display:none !important}.fRightBox{margin-top:69px}
/* Fix Distances */.sRemoveTopMargin{margin-top:0 !important}
.sRemoveBottomMargin{margin-bottom:0 !important}.sRemoveMargin{margin:0 !important}.sRssAbsoluteTop{position:absolute;right:24px;top:50px}
