/*
This is the stylesheet for the hover-sidebar at http://www.moronicbajebus.com/playground/cssplay/hover-sidebar/

Created by Seamus P. H. Leahy
*/
/*
The Default Settings */

body{ 
	color: #0D161F;  
	  }
	
#sidebar{
	position: fixed; /* Keeps it in the same place for the viewer.*/
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 2000;
	background-color: #7FA7CD;
	width: 11px;
	border-right: 1px solid #345D84;
}

#sidebar img.label{ 
	position: absolute; 
	right: 0; 
	top: 30%;  
}
#sidebar ul{
	margin: 0;
	padding: 0;
	width: auto;
	top: 25%;
	left: 0;
	position: absolute;
	
	display: none; /* To hide the items*/
}
#sidebar ul li{ 
	list-style-type: none;
	padding: 5px;
	width: auto;
	height: 40px;
	display: block !important;
 }
#sidebar ul li a
{
	text-align:left;
	border-color: #4174A3;  
	border-style: solid;  
	border-width: 1px;  
	width: auto;
	height: 40px;
	margin: 1px auto 1px auto;
	display: block !important;}
	
#sidebar ul li a:hover{ 
	background-color: #D4E1EE; 
}
#sidebar ul li a img{
	border: none;
}

/* the hover state */
#sidebar:hover{
	width: 270px; /* This makes is pop out. */
}

#sidebar:hover ul{ 
	display: block; /* To show the items instead of not showing them*/
}

/*The SidebarH

The Default Settings */
#sidebarH{
	position: fixed; /* Keeps it in the same place for the viewer.*/
	left: 0;
	top: 0;
	right: 0;
	
	z-index: 2000;
	background-color: #7FA7CD;
	height: 11px;
	border-bottom: 1px solid #345D84;
}

#sidebarH img.label{ 
	position: absolute; 
	bottom: 0; 
	left: 30%;  
}

#sidebarH ul{
	margin: 0;
	padding: 0;
	height: auto;
	left: 10%;
	right:4%;
	list-style-type: none;
	display: none; /* To hide the items*/
}
#sidebarH li{ 
	float:left;
	height: 40px;
	margin: 5px;
	text-align:center;
	vertical-align:middle;
	display: inline-block !important;
 }
#sidebarH a{ 
	border-color: #4174A3;  
	border-style: solid;  
	border-width: 1px;  
	min-width: 40px;
	max-width: 160px;
	height: 40px;
	padding: 5px;
	vertical-align:middle;
	display: inline-block !important; }

#sidebarH a.label
{
	max-width: 80px;
	text-align:center;
	vertical-align:middle;
}
#sidebarH ul li a:hover{ 
	background-color: #D4E1EE; 
}
#sidebarH ul li a img{
	border: none;
}

/* the hover state */
#sidebarH:hover
{
	display: block !important;
	height: 140px;
	max-height: 140px; /* This makes is pop out. */
}

#sidebarH:hover ul
{
	position: absolute;
	display: block; /* To show the items instead of not showing them*/
	display: inline-block !important;
}

/*The sidebarBottom

"float:left;height:32px;padding:2px;padding-top:10px;";
The Default Settings */
.sideItem a
{
	color: #000;
}
.sideItem a:hover
{
	color: #fff;
	font-weight:bold;
}
.sideItem
{
	color: #000;
	
	float:right;
	height:12px;
	padding:10px;
	padding-top:8px;
	cursor:pointer;
	background-image: url('../Img/btn_HoSoMoi.PNG');
	background-position: 0 0px;
}
.sideItem:hover
{
	height:12px;
	padding:10px;
	cursor:pointer;
	background-image: url('../Img/btn_HoSoMoi.PNG');
	background-position: 0 -32px;
}
 #sidebarBottom{
	position: fixed; /* Keeps it in the same place for the viewer.*/
	left: 0;
	bottom: 0;
	z-index: 2000;
	background: url('../Img/backgroundSide.PNG') 0 -200px #345;
	height:30px;
	width:100%;
	border-right: 1px solid #345D84;
}

 #sidebarBottom img.label{ 
	position: absolute; 
	right: 0; 
	top: 30%;  
}

 #sidebarBottom ul{
	margin: 0;
	padding: 0;
	height:31px;
	width: 100%;
	top: 25%;
	left: 0;
	position: absolute;
	
	display: none; /* To hide the items*/
}
  #sidebarBottom ul li{ 
	list-style-type: none;
 }
  #sidebarBottom ul li a{ 
	border-color: #4174A3;  
	border-style: solid;  
	border-width: 1px;  
	width: 40px;
	height: 40px;
	margin: 1px auto 1px auto;
	display: block; }
	
 #sidebarBottom ul li a:hover{ 
	background-color: #D4E1EE; 
}
  #sidebarBottom ul li a img{
	border: none;
}

/* the hover state */
 #sidebarBottom:hover{
	height: 32px; /* This makes is pop out. */
}

 #sidebarBottom:hover ul{ 
	display: block; /* To show the items instead of not showing them*/
}


/*The sidebarOwner

"float:left;height:32px;padding:2px;padding-top:10px;";
The Default Settings */

.sidebarOwner{
    display: inline-block;
	background-color: white;
	width: 200px;
	overflow : none;
	height:100%;
	float: left;
}

