A:hover {
	TEXT-DECORATION: none;	
	color: #0000ff;	
}


#btnsearch {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-LEFT: 95px; MARGIN-TOP: -25px
}
BODY {
	FONT-FAMILY: Tahoma, Verdana; FONT-SIZE: 10pt; BORDER:0px
}
IMG
{
	FONT-FAMILY: Tahoma, Verdana; FONT-SIZE: 10pt
}
DIV {
	FONT-FAMILY: Tahoma, Verdana; FONT-SIZE: 10pt
}
P {
	FONT-FAMILY: Tahoma, Verdana; FONT-SIZE: 10pt
}


TD {
	FONT-FAMILY: Verdana; FONT-SIZE:10pt; color:#444444;
}

INPUT {
	FONT-FAMILY: Tahoma, Verdana; FONT-SIZE: 10pt
}

.button
{
	border:1px solid;
	border-color:#aaaaff #aaaaff #aaaaff;
	background:url('../Img/qsfButton.gif') repeat-x #f9f8e0;
	height:30px;
	width:120px;
	font-size:11px;
	color:Black;
	font-weight:bold;
	line-height:20px;
	padding:0;
	font-family:Tahoma
}
.button:hover
{
	cursor:pointer;
	border:1px solid;
	border-color:#ffdaa2 #ffdaa2 #ffdaa2;	
	font-size:12px;
	color:#Gray;
	font-weight:bold;	
	font-family:Tahoma
}
.button[disabled]
{
	cursor:auto;
	border:1px solid;
	border-color:#ffffaa #ffffaa #ffffaa;	
	font-size:11px;
	color:#ffffff;
	font-weight:bold;	
	font-family:Tahoma
}
.button2 {
	background-image:URL('../Img/ruButtonMedium.gif'); FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 23px; width:115px; BACKGROUND-COLOR: #ffffff; border:0px;
	color: #ffffff;
	font-weight:bold;
}
.reporttd
{
	background:url('../Img/logo_bg.jpg') repeat-x #086D08;
	color:White;
	font-weight:bold;
	height:40px;
	margin:5px;
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
}
.report_cell
{	
	padding-left:10px;
	padding-right:10px;
	padding-top:5px;
	padding-bottom:5px;
	font-size: 8pt;
}
.formfooter1
{
	width:100%;border:1px; border-style:outset;
	background-color:#eeeeee;
}
.formfooter2
{
	width:100%;border:1px; 
	border-style:outset; 
	background: url(../Img/logo_bg.jpg) repeat-x;
	background-color: #999900;
}
.formbody
{
	
	background-color: #f9f8e0;
	border-right: #dadaa2 1px solid; 
	border-top: #dadaa2 1px solid; 
	border-left: #dadaa2 1px solid; 
	border-bottom: #dadaa2 1px solid;
}
.grouptd
{	
	margin-left:20px;
	background: #eeeeee;
	font-weight:bold;
	font-family: Verdana;
	
}

tr.report {
	background-color: #ffffff;
}
tr.report:hover
{	

	background: #dadaa2;
	font-family: Verdana;
	
}
.totaltd
{	
	margin-left:20px;
	background: #f9f8e0;
	font-weight:bold;
	font-family: Verdana;
	
}
.title3
{
	font-size: 13pt; color: #000000; font-weight:bolder
}