﻿.divDriverChair
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: #52c7c6;
	font-weight:bold;
	color:Red;
	font-size:13pt;
}
.divDriverChair_print
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: Gray;
	font-weight:bold;
	color:Red;
	font-size:13pt;
}
.divDriverChair:hover
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: Yellow;
	font-weight:bold;
	color:Red;
	font-size:13pt;
	cursor:pointer;
}

.divFreeChair
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: #ECECD8;
	font-weight:bold;
	color:Red;
	font-size:13pt;
}
.divFreeChair_print
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: #ECECD8;
	font-weight:bold;
	color:Red;
	font-size:13pt;
}
.divFreeChair:hover
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: #6bd3ce;
	font-weight:bold;
	color:Red;
	font-size:13pt;
	cursor:pointer;
}
.divBusyChair
{
	display:inline-table;
	margin: 5px 5px ;
	border: solid 1px green;
	width: 145px;
	height: 75px;
	background-color: #c6ebe7;
	color: White;
	/*font-weight: bold;*/
	
	color:Red;
	font-size:13pt;
	background-image: url("");
}
.divBusyChair:hover
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width: 145px;
	height: 75px;
	background-color: Yellow;
	color: White;
	/*font-weight: bold;*/
	
	color:Red;
	font-size:13pt;
	cursor:pointer;
}
.divBusyChair_print
{
	display:inline-table;
	margin: 5px 5px ;
	border: solid 1px black;
	width: 145px;
	height: 75px;
	background-color: #bbbbbb;
	color: White;
	font-weight: bold;
	
	color:Red;
	font-size:13pt;
	background-image: url("");
}
.divSubChair
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: #def7f7;
	/*font-weight:bold;*/
	color:Red;
	font-size:13pt;
	cursor:pointer;
}
.divSubBusyChair
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: #def7f7;
	/*font-weight:bold;*/
	color:Red;
	font-size:13pt;
	cursor:pointer;
}
.divSubBusyChair:hover
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: Yellow;
	/*font-weight:bold;*/
	color:Red;
	font-size:13pt;
	cursor:pointer;
}
.divSubChair_print
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: #bbbbbb;
	font-weight:bold;
	color:Red;
	font-size:13pt;
}

.divSubChair:hover
{
	display: inline-table; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	145px;
	height: 75px;
	background-color: Yellow;
	/*font-weight:bold;*/
	color:Red;
	font-size:13pt;
	cursor:pointer;
}
.divButtonXe
{
	display: inline-block; 
	margin: 5px 5px;
	background-image:URL('../Img/Update.gif'); 
	FONT-SIZE: 11px; 
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	HEIGHT: 22px; 
	width:90px; 
	font-style:inherit; 
	BACKGROUND-COLOR: #ffffff; 
	border: solid 1px green;
	cursor:pointer;
	/*filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);*/
	-moz-opacity: 0.7;
}
.divGioChay
{
	display: inline-block; 
	margin: 5px 5px 0px 0px;
	border: solid 1px green;
	width:	45px;
	padding: 3px;
	background-color: #ECECD8;
	
}
.divLoaiXe
{
	display: inline-block; 
	margin: 5px 5px;
	border: solid 1px green;
	width:	55px;
	padding: 5px;
	background-color: #ECECD8;
	
}
