﻿.Wrapper
{
    position:relative;
    height:242px;
    width:496px;
    float:left;
}

div.RadTabStripLeft_WebBlue .rtsLevel,
div.RadTabStripLeft_WebBlue .rtsLevel .rtsUL,
div.RadTabStripRight_WebBlue .rtsLevel,
div.RadTabStripRight_WebBlue .rtsLevel .rtsUL
{
    width:100px;
}
.RadTabStripBottom_WebBlue
{
    position: absolute;
    bottom: 0;
    left: 20px;
}

.RadTabStripTop_WebBlue
{
    margin: 0 0 -2px 20px !important;
}

.RadTabStripLeft_WebBlue
{
    float:left;
}

.RadTabStripRight_WebBlue
{
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0 !important;
}

.multiPage_info
{
    float:left;
    position:relative;
}

.corporatePageView
{    
    height:218px;
}

.productsPageView
{   
    height:218px;
}

.servicesPageView
{    
    height:218px;
}
.ttcn_tab
{
	float:left;
	top:72px;	
	position:relative;	
}
.divNhapLieu
{
	position:relative;
	top:-90px;
	left:160px;	
}
.divUploadFile
{
	position:relative;	
	top:-80px;
	left:160px;	
}
.grid
{
	position:relative;	
	top:-80px;
	left:160px;	
}